[2017-03-27 22:37] Karsten1987 opened #5 "ROS2 time vs TF Time"
I've seen that `get_now()` only returns the system clock. Does this eventually lead to out-of-sync with `rclcpp`-Time (ROS-time, system-time, steady-time, etc.)?

[2017-03-27 22:45] tfoote commented on #5
Can you point to the line of code you're referring to?

[2017-03-27 22:47] Karsten1987 commented on #5
I am referring to this:
https://github.com/ros2/geometry2/blob/ros2/tf2/include/tf2/time.h#L52

Also the `Timepoint` is typedef'ed to `std::chrono::system_clock`: https://github.com/ros2/geometry2/blob/ros2/tf2/include/tf2/time.h#L43

[2017-03-27 23:17] tfoote commented on #5
gosh github search is terrible.

Yes, that will need to be updated to support ros::Time once we have an implementation of rostime/clock

Like this: https://github.com/ros/geometry2/blob/439e2350ca9b2f0581a3631f0929acc2021db73e/tf2_ros/src/buffer.cpp#L73-L84

[2017-03-28 16:42] dhood opened #6 "tf2_ros buffer interface transform() methods"
Opening issue to avoid duplicating work. Has anyone ( @clalancette) looked at porting the transform() methods in tf2_ros/buffer_interface.h yet? They're still [commented out](https://github.com/ros2/geometry2/blob/1c4d964340b4ee73eb596fe7c75e7d1d459d3ef9/tf2_ros/include/tf2_ros/buffer_interface.h#L141)

[2017-03-28 16:52] clalancette commented on #6
I have not; I did not need them for cartographer, so I didn't end up touching those.  Go ahead and work on them if you need them.

[2017-03-28 16:52] dhood commented on #6
:+1: thanks

[2017-04-04 18:48] Karsten1987 opened #8 "delete ros/geometry2 ros2 branch"
Now that we forked this repo and started opening PRs against this repos' ros2 branch. Can we delete the ros/geometry2 ros2 branch?

[2017-04-04 21:53] tfoote commented on #8
That's fine as long as we have all the content here.

[2017-04-05 19:22] mikaelarguedas commented on #8
Needs to make sure that all the code from geometry/ros2 is in geometry2/ros2.
Also it would be great to sync geometry2/indigo-devel with geometry/indigo-devel and rebase the ros2 branch on top of indigo-devel

[2017-04-05 19:27] clalancette commented on #8
I just took a quick look; it does look like the graphs are the same, though they have different commit hashes.  I don't recall if we ended up rebasing the ros2/geometry2 ros2 branch, but that would explain it.  So I think we are pretty good there.

I wonder if it is even worth it to sync indigo-devel; there isn't really a lot of benefit, since if we ever to want to remerge the two, it should be a

[2017-04-05 19:33] mikaelarguedas commented on #8
I thought that the decision of contributing the ROS2 agnostic changes upstream was to just have to stay in sync with upstream to have these changes. In this scenario I'm not sure what the suggested alternative is: do you mean let indigo-devel diverge on the fork and rebase the ros2 branch against upstream/indigo-devel wqhen there is a change upstream?

[2017-04-05 19:34] clalancette commented on #8
Yeah, exactly.  Though I guess at that point, it's not much more work to just push to indigo-devel in ros2/geometry2, so either way :).

[2017-04-11 21:59] clalancette opened #10 "Fix up API returning references to deleted objects"
After discussion with @dhood and @dirk-thomas, starting with this comment:

https://github.com/ros2/geometry2/pull/7/files#r111020855

We need to fix up tf2_geometry_msgs to not return tf2_ros::fromMsg reference, since that returns a temporary and thus can access invalid memory.

We can:

* Make the problematic getTimestamp() calls return objects, instead of references, or
* Make the problematic g

[2017-04-13 18:07] Karsten1987 commented on #8
what's the status on this one here?

I also think that we don't have to sync the indigo-devel branches straight ahead, because as Chris said, at any point - if needed - that should be a clear FF. At in general, this does not necessarily belong to this issue here. This issue only asked whether we can delete the ROS2 branch on ros/geometry2

[2017-04-13 18:42] mikaelarguedas commented on #8
well we will need to resolve conflicts at some point and the later the more time it will take so I think that this should be done soon given that there is a lot of tf2 changes coming up this cycle. If there is a strong preference to rebase against `upstream/indigo-devel` rather than an up-to-date `indigo-devel` I won't argue strongly against it (even if it seems counter-intuitive to me when I reba

[2017-04-13 18:46] clalancette commented on #8
I think at this point the only thing to do to get this done is to have someone with ros/geometry2 commit rights click the button to delete the ros2 branch.

[2017-04-13 18:48] mikaelarguedas commented on #8
indeed, I'm discussing the strategy for ros2/geometry2 in general and not the deletion of the branch itself. You confirmed the code is the same on both so it's totally fine to delete it

[2017-04-13 21:31] tfoote commented on #8
Since the code is elsewhere I've deleted the branch.

[2017-04-13 21:31] #8 closed, assigned to Karsten1987

[2017-04-13 22:37] Karsten1987 commented on #8
thanks @tfoote for taking care of it.

[2017-04-14 20:05] Alex031544 opened #11 "Error while checkout with git"
Hello,

I tryed to clone/checkout this package on different machines and received the following error:

[code]

[2017-04-14 20:13] mikaelarguedas commented on #11
Hi @Alex031544, we now rely on this fork so you chould clone github.com/ros**2**/geometry2
If you already had a checkout of ros/geometry2 in the same workspace you will want to change the remote and pull from our current development branch or just delete the folder and clone using this URL: https://github.com/ros2/geometry2

Hope this helps

[2017-04-14 21:28] Alex031544 commented on #11
Hello, I commented the ros-Packages in _ros2.repos_ out. This is enough to me. Maybe you change it too...

Thanks

[2017-04-14 21:28] #11 closed, assigned to nobody

[2017-04-14 21:33] mikaelarguedas commented on #11
can you point to what ros2.repos file you were using ? Thanks!

[2017-04-14 22:01] Alex031544 commented on #11
I load it from here today:
[code]
I attach the file: [ros2.repos](https://github.com/ros2/geometry2/files/923026/ros2.repos.txt)

and these one I comment out:
[code]

Further I think `ros/poco_vendor` should be `ros2/poco_vendor`. (Only for the beauty ;) )

[2017-04-14 22:07] mikaelarguedas commented on #8
@tfoote can you restore the branch? beta1 was using it so now people following the installation instruction cant clone their workspace (c.f https://github.com/ros2/geometry2/issues/11)

[2017-04-14 22:10] mikaelarguedas commented on #11
ok thanks for pointing it, that's an oversight on our side. You can keep class_loader (you will very likely be needing it tu use ROS2). We'll restore the missing branch so that the installation instructions you followed work again. Thanks for reporting it !

[2017-04-14 22:22] mikaelarguedas commented on #11
It should be fixed now, you should be able to vcs import / clone the  https://raw.githubusercontent.com/ros2/ros2/release-latest/ros2.repos file as is now

[2017-04-14 22:24] mikaelarguedas commented on #8
Update: I pushed the ros2 branch back to ros/geometry2, tagged it as release-beta1 and deleted it again this way people can vcs import our repos file from beta1

[2017-04-15 04:16] BrannonKing opened #12 "the rampant LOOPING msg"
What do we need to do to get rid of this warning? It spews a lot of useless output.
[code]

[2017-04-17 14:44] clalancette commented on #12
My understanding is that we don't currently have latching functionality in ROS2, so we need to continually publish the transform from static_transform_broadcaster.  It looks like we do that every 5 seconds, and we print that message out at the same time.  We also don't currently have proper console logging implemented in ROS2, so there is no easy way to filter it out.  The correct way to fix it wo

[2017-04-17 15:16] mikaelarguedas commented on #12
Note: @dirk-thomas has been working on the console logging lately, if you want to contribute to that part, make sure to sync with him to see what can be parallelized and to be sure not to duplicate work

[2017-04-17 15:38] BrannonKing commented on #12
30 seconds would definitely be better than 5.

[2017-04-17 16:11] wjwwood commented on #12
The durability setting is like latching in ros 1. We just didn't have it when @tfoote converted tf.

[2017-04-17 16:52] BrannonKing commented on #12
Yes, I was going to say: I'm certain all our DDS middlewares support latching.

[2017-04-19 18:34] BrannonKing opened #15 "BufferCore confuses quaternion coordinates"
There is a nasty bug in https://github.com/ros2/geometry2/blob/ros2/tf2/src/buffer_core.cpp line 143. It passes the quaternion arguments in the wrong order. It should be x, y, z, w.

I'm not sure if the underlying Quaternion has always taken them in the order it does now, or this bug was introduced recently. The various quaternion frameworks have a variety of point orderings; we must be very caref

[2017-04-19 18:35] BrannonKing commented on #15
Tagging @clalancette

[2017-04-19 20:47] tfoote commented on #15
Definitely a bug https://github.com/ros2/geometry2/blob/ros2/tf2/src/buffer_core.cpp#L143 It appears I made the typo in the beginning of the ros2 porting process.

[2017-04-25 16:41] #15 closed, assigned to nobody

[2017-04-25 19:52] dhood commented on #10
https://github.com/ros2/geometry2/pull/14

[2017-04-25 19:52] #10 closed, assigned to nobody

[2017-06-14 18:30] tfoote commented on #6
Mostly resolved in #20 however the full power is not available because the templated convert(A,B) is still commented out: https://github.com/ros2/geometry2/blob/ros2/tf2/include/tf2/convert.h#L113

[2017-06-19 18:09] wjwwood opened #24 "new test failure in tf2_geometry_msgs package"
[code]

-- http://ci.ros2.org/view/nightly/job/nightly_linux-aarch64_release/76/testReport/(root)/projectroot/test_tf2_geometry_msgs/

[2017-06-19 19:21] wjwwood commented on #24
This also affects Windows debug nightly.

[2017-06-19 19:21] wjwwood commented on #24
I believe @tfoote is having a look into it.

[2017-06-19 19:26] dhood commented on #24
I suspect this is similar to https://github.com/ros2/geometry2/pull/18

[2017-06-20 18:06] mikaelarguedas commented on #24
@wjwwood I think this can be closed now that the missing initialization has been addressed

[2017-06-20 18:06] wjwwood commented on #24
Yup, thanks.

[2017-06-20 18:11] mikaelarguedas commented on #24
acually looks like the test still fails on windows Debug: http://ci.ros2.org/view/nightly/job/nightly_win_deb/513/testReport/. Doesnt seem to be the same issue (looks like a sign issue not uninitialized memory) so I let you decide how you want to track it

[2017-06-20 18:14] wjwwood commented on #24
Ah you're right. I'm going to reopen this one, since it is the same tests.

@tfoote @dhood if you've seen this one too, let me know.

[2017-06-20 19:11] tfoote commented on #24
I haven't seen that one. It looks to have regressed in build 507 from the Jun 14, 2017 7:30:00 AM http://ci.ros2.org/view/nightly/job/nightly_win_deb/507/#showFailuresLink

http://ci.ros2.org/view/nightly/job/nightly_win_deb/507/testReport/junit/(root)/TfGeometry/Frame/
[code]

It does appear that all the values are coming out with the negative of the expected sign for those specific tests.

[2017-06-23 22:58] #24 closed, assigned to tfoote

[2017-06-27 20:19] Kukanani opened #31 "tf_monitor not seeing transformations published by static_transform_publisher"
[Windows, FastRTPS]
When running `static_transform_publisher`, `tf_monitor` does not list any provided transforms:

[code]

[code]

[2017-06-27 20:21] clalancette commented on #31
I'm also seeing this on Linux and FastRTPS on arm64.  You beat me to ticketing it :).

[2017-06-27 23:35] Kukanani commented on #31
`tf2_monitor` is not processing callbacks for the `tf` and `tf_static` topics, despite messages being published there. The node runs two threads, one for spinning and one for sleeping and printing the state of the TF tree. This is because each thread creates its own NodeHandle, and the `spin` call only spins one of them. I have a fix in the works.

[2017-06-28 17:09] #31 closed, assigned to Kukanani

[2017-07-13 21:08] nate-jackson opened #34 "time.h durationToSec seems very inefficient"
We have been investigating why we can't seem to get lookupTransform to work properly for us, and came across this function.

Instead of doing the big long thing that is going on there:

[code]

couldn't we just do

[code]

I can't see a reason for the extra stuff that is going on in there.

[2017-07-13 21:19] wjwwood commented on #34
Sounds reasonable to me, it's probably left over from the conversion. @dhood what do you think?

[2017-07-14 00:52] dhood commented on #34
the proposed conversion isn't as accurate. We might still prefer it (since the conversion isn't exact as is), but in that case we'd need to relax the tolerance on the tests (e.g. [this one](https://github.com/ros2/geometry2/blob/a275730813b9cf55943f3f05d57aaee51b32944a/tf2/test/simple_tf2_core.cpp#L202)) and disable [this test](https://github.com/ros2/geometry2/blob/a275730813b9cf55943f3f05d57aaee

[2017-07-14 01:25] dhood commented on #34
Here's CI to show what I mean (these tests were run with `--retest-until-fail 20` because the reduced accuracy would manifest as a flaky test since it wouldn't fail for all values of 'now'):

* Linux [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux&build=2890)](http://ci.ros2.org/job/ci_linux/2890/)
* Linux-aarch64 [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux-

[2017-07-14 01:42] wjwwood commented on #34
Ah, @dhood I forgot about that. Perhaps we should put a comment explaining why the nanoseconds are scaled separately.

[2017-07-14 01:53] dhood commented on #34
sure thing: https://github.com/ros2/geometry2/pull/35

[2017-07-14 02:23] dhood commented on #34
I'll close this because I believe the question has been addressed. if that's not the case feel free to re-open

[2017-07-14 02:23] #34 closed, assigned to nobody

[2017-07-14 19:47] clalancette commented on #12
Hm, all of that being said, I just took a quick look at Fast-RTPS master.  From all indications it looks like Fast-RTPS doesn't support PERSISTENT durability yet, so I don't think we can reasonably change this to not loop.  Also, we don't have PERSISTENT durability plumbed into the RMW layer.  Thus, I think we need to do a few things:

- Implement durability in Fast-RTPS: I've opened an issue ther

[2017-07-14 19:52] wjwwood commented on #12
We don't need persistent I think.

[2017-07-14 19:54] wjwwood commented on #12
Sorry hit send too early. We just need transient local. Which we already have exposed.

Persistent requires a service, like a database or something, to work. We didn't have that in ros 1 and I think it's overkill for this problem.

[2017-07-14 21:58] clalancette commented on #12
So, I tried this out.  I went into https://github.com/ros2/geometry2/blob/ros2/tf2_ros/src/static_transform_broadcaster.cpp#L44 , and changed the durability setting of that custom_qos_profile to RMW_QOS_POLICY_DURABILITY_TRANSIENT_LOCAL.  I then changed the end of static_transform_broadcaster_program.cpp to:

[code]

From what I can tell, the transform doesn't get properly published that way; at l

[2017-07-14 22:11] tfoote opened #37 "update tf2_monitor to subscribe to static transforms"
Like https://github.com/ros/geometry/commit/868fd89c35d61d03ab7aef44538aeb1c020be258

[2017-07-14 22:14] mikaelarguedas commented on #37
I think this is similar to https://github.com/ros2/geometry2/issues/31 has been fixed in https://github.com/ros2/geometry2/pull/32

[2017-07-14 22:45] dhood commented on #12
yeah, you need to "request" transient_local on the cartographer side in the subscriber's qos. there's info about this in https://github.com/ros2/ros2/wiki/About-Quality-of-Service-Settings#qos-compatibilities if you haven't seen it already (if you have, please suggest changes because you won't be the only one left asking this question!).

the challenge is that "request" is more like "require" and

[2017-07-14 22:51] tfoote commented on #37
Yeah, it looks like I did port it when converting. I was just refiling ros/geometry2#156, but no need.

[2017-07-14 22:51] #37 closed, assigned to nobody

[2017-08-09 21:31] vsherrod opened #38 "lookupTransform outputs a transform with wrong timestamp"
lookupTransform outputs a transform whose timestamp does not match the time that has been asked for.

We see the transform's timestamp looping from being 0.5s behind the requested timestamp to being up to 4s ahead of it.  These numbers are of course with our specific setup.  We have the tf being broadcast at 50 hz and it being queried at 4 hz.

The broadcasting and listening code we are using can

[2017-08-09 23:10] bponsler commented on #38
@vsherrod -- I hadn't noticed this issue while using rviz in ROS 2, or any other nodes/packages for that matter. I definitely see the same results when running your examples on my setup (thanks for the example code).

I added a print to the `tf2/buffer_core.cpp` to print out when it receives a new transform (the `setTransformImpl` function) and it appears to be receiving the transforms at a fast r

[2017-08-09 23:17] allenh1 commented on #38
[code]

Isn't that a 3 second transform timeout?

[2017-08-09 23:52] bponsler commented on #38
@allenh1 Yes, it's a three second timeout which is documented as:

    \param timeout How long to block before failing

I think the three seconds timeout will only happen if a transform is not available -- if there's an available transform it should return immediately.

I just tested changing the timeout to 0.1 seconds, and the same cycling still occurs.

    TimeRequested: 1502322524.547150135

[2017-08-10 15:37] vsherrod commented on #38
@allenh1 and @bponsler. Yes, that is a 3 second timeout.  I have also run it with varying timeouts as well with similar results as @bponsler has verified.  In fact, on the actual robot, we do not have a timeout since it is asking for a transform of the timestamp of sensor data that is already enough in the past that it should exist in the buffer.  We do not see anything too strange in rviz with th

[2017-08-10 18:55] bponsler commented on #38
@vsherrod Here's the code I added to the `BufferCore::setTransformImpl` function in `tf2/src/buffer_core.cpp`

    if (frame_id.compare("map") == 0 && child_frame_id.compare("base_link") == 0) {
      printf("BufferCore: GOT TF : %.9f\n", tf2::timeToSec(stamp));
    }

`stamp` is input to the function from `setTransform` and is the TimePoint equivalent of the transform header stamp.

**TL;DR: I th

[2017-08-10 20:06] vsherrod commented on #38
@bponsler Nice! Do you want to do a pull request on this, or do you want us to?

[2017-08-10 20:48] SecretaryBirds commented on #38
I've been pouring over the TF code, and I don't see any way this bug could have affected retrieving the data you actually cared about.
If the TimePoint logic is all sound in the TransformStorage, then when you request data, it should retrieve the correct stuff, but when it converts it to a TransformStamped message, the timestamp just gets messed up.

Is that really the only impact on this?
@bponsl

[2017-08-10 22:13] tfoote commented on #38
That looks like the right fix, and it does look like it was just the output timestamp conversion, which should not effect the correctness of the other data. It could have effected data if the result was used again as in input for another query or the output timestamp was reused in any way.

[2017-08-15 21:22] BrannonKing opened #41 "unable to use TransformListener constructor that takes a node"
`TransformListener` has a constructor that takes a Node pointer, but if you use it you get this error:
[code]
Does the listener require a dedicated Node (like the one created in the constructor that doesn't take a node)?

[2017-08-15 21:38] dhood commented on #41
I have been able to use a listener in a non-dedicated node (in [amcl](https://github.com/ros2/navigation/blob/a9a3f49f4608ba793485f8416adbdbf14f8090a6/amcl/src/amcl_node.cpp)). Your issue might be that by default the listener will call spin underneath. If you're not already, you can disable it by setting `spin_thread` to be false e.g. `tf2_ros::TransformListener(*tf2_buffer_, node, false);`

[2017-08-15 22:26] BrannonKing commented on #41
That works. Thanks.

[2017-08-15 22:26] #41 closed, assigned to nobody

[2017-08-16 19:08] tfoote opened #42 "Port test_tf2 to ROS2"
The package is currently commented out and allowed the regression fixed in #39

This will likely hit some limits on our current test infrastructure. But it will be good to find out what the current limits are.

[2017-08-23 18:00] tfoote commented on #38
fixed in #39

[2017-08-23 18:00] #38 closed, assigned to nobody

[2017-09-11 21:27] mikaelarguedas opened #45 "Inconsistent usage string among executables"
Not sure what to do here.

I started looking at this because the usage string of `tf2_monitor` is missing a trailing newline.
Right now it's using `ROS_INFO` aliased with `printf`: https://github.com/ros2/geometry2/blob/d8958f688bee423dcaa3aa73f4da7a4be0e811d1/tf2_ros/src/tf2_monitor.cpp#L46

We could do one of the following:

- Change to call printf explicitely with a trailing new line like it's

[2017-09-11 23:38] tfoote commented on #45
Upstream it's generally using ROS_INFO we talked offline with @wjwwood and @mikaelarguedas about having INFO suppress the filename by default but error or higher show the file and line number since it's less common and won't get in the way as much on the console.

In the long run getting the ROS_INFO to go out via RCUTILS whether via a #define or otherwise to not diverge from upstream too much.

[2018-01-04 19:58] matt-attack opened #54 "Transform listener subscribes to tf and tf_static in node's namespace instead of global"
The behavior in ROS 1 was to subscribe to /tf and /tf_static in the global namespace.

It appears that was changed in ROS 2 and it instead subscribes in the node's current namespace. Is this expected behavior?

Note the lack of the beginning slash in the topic names:
https://github.com/ros2/geometry2/blob/ros2/tf2_ros/src/transform_listener.cpp#L84

Since ROS 2 lacks remapping currently this poses

[2018-01-29 18:23] tfoote commented on #54
This was a temporary workaround because the DDS protocol doesn't officially support slashes. #137 we have since then implemented namespace support aliasing ros topic slashes to DDS partitions. With that added we can restore the historical behavior.

[2018-02-01 21:53] #54 closed, assigned to tfoote

[2018-02-19 22:26] matt-attack commented on #5
Just want to give this a bump. rclcpp::Time is implemented now.

[2018-02-22 19:59] tfoote commented on #12
This needs a decision on how to implement latching. Ticketed at ros2/ros2#464

[2018-03-16 07:05] yechun1 opened #56 "tf2_monitor delay missed nanosec"
tf2_monitor about Frame Average Delay is not accurate, the calculation missed nanosec.

`Frame: base_link, published by <no authority available>, Average Delay: 0.5390258, Max Delay: 0.952545`
The Delay is higher than the facts.

Root cause:
tf2_ros::timeToSec(message.transforms[i].header.stamp).  did not return nanosec.

printf:
message.transforms[i].header.stamp.sec = 1521181659
message.transfor

[2018-03-16 07:11] yechun1 commented on #56
PR #57 fix.
After patch: Delay is more accurate.
`Frame: base_link, published by <no authority available>, Average Delay: 0.0390258, Max Delay: 0.152545`

[2018-03-22 17:24] mikaelarguedas commented on #56
https://github.com/ros2/geometry2/pull/57 has merged, closing this

[2018-03-22 17:24] #56 closed, assigned to nobody

[2018-03-26 13:13] Martin-Idel-SI opened #58 "Default behaviour of lookupTransform with identical frames is unexpected"
#### Steps to reproduce issue
- Using ROS 2 call `transform` (e.g. via `buffer_interface.h`) with a message containing an arbitrary frame (e.g. "map") and the same `target_frame` name.
- Do not add a transform to that particular frame.
- A lookup exception will be thrown, because "map" does not exist.

#### Expected behavior
It's clear how to transform a frame to itself (identity transform). Since

[2018-06-21 08:17] sagniknitr opened #59 "Porting tf2_ros/include/message_filter.h to ROS2."
## Feature request
Can the message_filter.h of tf2_ros be ported to ROS2.0 (https://github.com/ros2/geometry2/blob/ros2/tf2_ros/include/tf2_ros/message_filter.h)? There is already a message_filter package available for ROS2.0 (https://github.com/intel/ros2_message_filters).

[2018-06-27 20:27] mjeronimo commented on #59
I'm also in need of this functionality. Anyone planning to pick this up in the near future?
@tfoote - any input?

[2018-07-11 13:02] Martin-Idel-SI commented on #58
Closed in #65

[2018-07-11 13:02] #58 closed, assigned to nobody

[2018-07-13 08:06] iglstone opened #66 "Ardent ament build no tf2_ros, tf2_py, only tf2_msgs."
My ros is ardent, and I use 'ament build' command to build the ros2/geometry2 package , there is no error, but there only a tf2_msgs model int the path of install/lib/python3.5/site-packages, no tf2_ros, no tf2_py, there is sth wrong with me? Any help will be appriciated!  And python3 cannot import tf2 or tf2_ros.  Tf2 python model is now available in ros2?

[2018-07-13 17:12] tfoote commented on #66
For help please ask questions on https://answers.ros.org following our [support policy](http://wiki.ros.org/Support) when you ask your question there you need to provide enough information to reproduce your problem. From this description I can understand something isn't working for you but have no idea what because I don't know what you did to produce the problem.

[2018-07-13 17:12] #66 closed, assigned to nobody

[2018-08-15 18:58] nburek commented on #59
I am actively working on porting message_filter.h to ROS2. It looks like the intel/ros2_message_filters repository just got merged into https://github.com/ros2/message_filters. I'm currently blocked on the significant change in callback interfaces between ROS1 and ROS2 (see: https://discourse.ros.org/t/ros2-package-migration-replacement-for-callbackqueueinterface/5751).

[2018-08-21 16:05] dirk-thomas opened #68 "reuse logic from Time::durationToSec method"
As suggested in https://github.com/ros2/rclcpp/pull/536#discussion_r211035479 the [logic](https://github.com/ros2/geometry2/blob/7dafb4d6c0c7025dfeeed3cef336113c62601dac/tf2/include/tf2/time.h#L74..L84) could be moved to `rcutils` and be used in `rclcpp::Time ` and `rclcpp::Duration`.

[2018-08-27 19:38] dirk-thomas commented on #59
The repository containing the `message_filters` package for ROS 2 is https://github.com/ros2/message_filters

~~Please consider to create a ticket or even better a pull request there.~~

[2018-08-28 04:34] sagniknitr commented on #59
@dirk-thomas Thanks for the message filters link. However, the feature request I created is for the file inside tf2_ros package
(https://github.com/ros2/geometry2/blob/ros2/tf2_ros/include/tf2_ros/message_filter.h). Is there a plan to remove the particular file from tf2_ros ?

[2018-08-28 04:55] dirk-thomas commented on #59
I see now that the referenced file in this repo wasn't ported. I am not sure what it uses exactly but please feel free to provide a pull request to port it to ROS 2 using the now available message_filters repo.

[2018-09-06 08:08] Myzhar opened #70 "ROS2 - tf2_ros::TransformBroadcaster and rclcpp_lifecycle::LifecycleNode"
## Feature request

#### Feature description
Add constructor for LifecycleNode to `tf2_ros::TransformBroadcaster`.

#### Implementation considerations
Refer to ROS answer thread:
https://answers.ros.org/question/302459/ros2-tf2_rostransformbroadcaster-and-rclcpp_lifecyclelifecyclenode/

[2018-09-14 22:31] sloretz opened #71 "Mitigate out of date transforms when rclcpp::spin() is slow to handle subscriptions"
Currently `tf2_ros::TransformListener` has a hard coded queue depth of 100 for the `/tf` topic subscription.
https://github.com/ros2/geometry2/blob/ec26237b2c27a3fe6b7ef44083aae271a2c742a0/tf2_ros/src/transform_listener.cpp#L81-L84

It also (optionally) has a dedicated thread to call `rclcpp::spin()`. New subscriptions seem to get messages in order with this QoS and fastrtps. When this thread cann

[2018-09-21 01:04] sloretz commented on #5
Fixed by ros2/geometry2#67 , closing

[2018-09-21 01:04] #5 closed, assigned to Karsten1987

[2018-10-02 15:53] Myzhar commented on #71
I continue to have the same issue even using the last patched version.

You can replicate it running the dummy robot example:
 * Run the example:
   `$ ros2 launch dummy_robot_bringup dummy_robot_bringup.launch.py`
* Open `$ rviz2`
* Set the fixed frame to `world`
* Add a TF plugin viewer. You will see the robot link moving
* Add a `LaserScan` plugin and subscribe to `/scan`

At this point you wil

[2018-10-06 00:44] ghost opened #73 "TransformListener hangs waiting for worker thread to join"
If a `TransformListener` object goes out of scope before `rclcpp::shutdown` is called, it will hang forever in the destructor waiting for the worker thread to `join`

## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 16.04
- Installation type:
  - source
- Version or commit hash:
  - 0.9.1
- DDS implementation:
  -Fast-RTPS
- Client library (if applicable):
  -

#### Steps to repro

[2018-10-08 16:39] sloretz commented on #71
@Myzhar I'm not sure the issue you described is related to this ticket. Would you mind posting it as a new issue on https://github.com/ros2/rviz instead?

[2018-10-08 17:37] clalancette commented on #73
I did a bit of work cleaning up TransformListener, including adding in a future/promise to kill the thread when it is quitting (as @crdelsey suggested).  The code I have so far is [here](https://github.com/ros2/geometry2/commit/10bd9b86f7b4ae98dad3600ac1b092e55140954f), but I have not tested it yet to see how well it works.

[2018-10-08 21:10] Myzhar commented on #71
@sloretz You are right.

I replicated the comment here
https://github.com/ros2/rviz/pull/354

[2018-10-18 10:09] yechun1 commented on #59
If no one started work on it, I would like to port the tf2_ros message_filter.
To both fix navigation dependence issue: https://github.com/ros-planning/navigation2/issues/171

[2018-10-24 01:38] yechun1 commented on #59
@mkhansen-intel started porting from yesterday, there are several porting issues I'm working on today. Which include connection signals2 issue as https://github.com/ros2/message_filters/issues/11,  ros::Time port to tf2::TimePoint, boost::mutex to std::mutex, etc.

[2018-10-24 11:20] yechun1 commented on #59
Till now, most code ported except `ros::CallbackQueueInterface` related APIs, synce there is no easy way to replace those with ROS2 APIs(not found yet), I need to do more research and change the code. Appreciate if any one could share the idea or reference code to replace `ros::CallbackQueueInterface`

[2018-10-26 04:19] yechun1 commented on #59
Block on https://github.com/ros2/message_filters/issues/11

[2018-10-30 08:43] gaoethan commented on #59
I had a simple check that there is only the following 2 APIs which uses the callbackqueue of node handle if it's provided. as follows:

[code]

So for 2 potential workaround to fix the lacking support from rclcpp node implementation to callback queue:
1. try to directly replace the callback_queue_ logic here with the current ros2 callback group. for example, direct bind or something similar
2. use

[2018-10-31 09:26] yechun1 commented on #59
Update porting status:

Most code completed while several key APIs still not be replaced such as CBQueueCallback and boost::signals. Uploaded the patch here [Port tf2_ros message_filter on ROS2](https://github.com/yechun1/geometry2/commit/61a2f061dd6236685414daad4a172fc24b56dc31),  appreciate if anyone could review and give some suggests.

TODO:
   - Could not use CallbackGroups as a replacement f

[2018-11-02 10:56] Myzhar commented on #70
@dirk-thomas no news about this bug? I think it is quiet important

[2018-11-02 12:19] dirk-thomas commented on #70
Nobody is working on this atm. Please consider contributing a pull request.

[2018-11-02 18:54] paoloach opened #78 "Wrong package.xml file in tf2_sensor_msgs"
The CMakeLists.txt require the Eigen3 library while in the package.xml file is declared as eigen

## Bug report

**Required Info:**

- Operating System:
  - gentoo with profile amd64/17.0/desktop/plasma
- Installation type:
  - from source
- Version or commit hash:
  - db72716cf2cf2ae55561fc1db01ee2c63ea6414b
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  -  N/A

#### Step

[2018-11-02 20:38] mjcarroll commented on #78
`eigen` is the correct rosdep key in this case: https://github.com/ros/rosdistro/blob/0d0b72dc8853d6aa38e739f761cd7ef2edec30ab/rosdep/base.yaml#L649

Have you correctly installed the rosdeps?

[2018-11-03 19:38] paoloach commented on #78
Hi mjcarroll,

honestly, I'm new on ROS and and so I'm not sure that rosdeps is correctly installed (the colcon tutorial how to install ROS2 doesn't mention it)

But, what it confuses me is that
1) in the CMakeFile there is a dependency to Eigen3 while in the package.xml the dependency is to eigen
2) checking my system, I have eigen but I don't found Eigen3 but the package compile only depending o

[2018-11-05 10:14] Myzhar commented on #70
@dirk-thomas I'm looking at it.

I think that I can take two ways:
1) Replace `rclcpp::Node::SharedPtr node` in the constructor with `rclcpp::node_interfaces::NodeBaseInterface::SharedPtr node`... but the problem is that I have not access to the `create_publisher` method.
2) Add a new constructor that takes `rclcpp_lifecycle::LifecycleNode::SharedPtr node` and initializes a new `LifecycleNode` obj

[2018-11-05 11:09] Myzhar commented on #70
I opted to try the solution 2. It seems to work.
Let me know if you prefer to take the solution 1 or to use a smarter solution

[2018-11-05 16:13] Karsten1987 commented on #70
I believe only the node base interface won't suffice in this case. I guess you'd need also the topics interface of a node: https://github.com/ros2/rclcpp/blob/master/rclcpp/include/rclcpp/node_interfaces/node_topics_interface.hpp

Creating a constructor for a lifecycle node might work for the problem above, but to me, it feels like not sustainable in case there's another node implementation (somet

[2018-11-05 21:48] Myzhar commented on #70
It's a solution that I do not really like for the same motivation you are saying, but I do not really understand how to overcome it.
In my mind Node and LifecycleNode should have the same base class, but this is not the case and it brings to problems like this.
Somewhere I read why you chose to not derive the two Node classes from the same base class, but I do not remember the motivation.

If you

[2018-11-05 22:18] Karsten1987 commented on #70
I can understand, that this is maybe not super trivial to figure out on your own. So sorry for that :)

The design decision for a ROS 2 node was to use composition instead of inheritance. That being said, a regular node and a lifecycle node don't share a common base class but rather have the same internal components.
For a lifecycle node you can access the components here:
https://github.com/ros2/

[2018-11-05 23:58] jacobperron commented on #78
@paoloach You are missing the rosdep commands for installing dependencies between the `vcs import` and `colcon build` commands:

From the [documentation](https://index.ros.org/doc/ros2/Linux-Development-Setup/#install-dependencies-using-rosdep):

    sudo rosdep init
    rosdep update
    rosdep install --from-paths src --ignore-src --rosdistro bouncy -y --skip-keys "console_bridge fastcdr fastrtp

[2018-11-08 10:10] gaoethan commented on #59
I've already worked out an available one by:
 - use rclcpp Time and Duration
 - remove boost with C++11 instead
 - remove the way to using callback queue (it can be a follow-up feature while rclcpp support the similar way of ros callback queue later)
 - extend the simple filter to support the case of failure callback registration

please have a try with the following code base and have a review/fi

[2018-11-08 16:21] mjcarroll commented on #78
I'm closing this, because I don't believe this is a bug, @paoloach feel free to reopen if you discover a bug.

[2018-11-08 16:21] #78 closed, assigned to nobody

[2018-11-08 17:56] mkhansenbot opened #80 "static_transform_publisher can't handle __params:= or __name:= given from launch file"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - source
- Version or commit hash:
  - ros2 branch
- DDS implementation:
  - default / FastRTPS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue
The argument parsing in static_transform_publisher can't currently handle the params passed by the launch file:

[code]
test_bringup_

[2018-11-08 18:00] sloretz commented on #80
I think this could be solved by `static_transform_broadcaster_program.cpp` using `init_and_remove_ros_arguments()` or `remove_ros_arguments()`

https://github.com/ros2/rclcpp/blob/33a755c535d654c97401eb6d199580368c19eb40/rclcpp/include/rclcpp/utilities.hpp#L65-L82

[2018-11-09 03:56] yechun1 commented on #59
@gaothan, seems not all boost has been removed from the commit, would you please help to check. And suggest to sync latest code from ros2.repo as some core APIs changed to avoid APIs changing impact.

[2018-11-23 02:04] gaoethan commented on #59
I think that It's already done for this issue, I have clean-up my porting and upstream it  as (https://github.com/ros2/geometry2/pull/81) which is already in geometry2 now. Hopefully this benefits you.

[2018-11-23 12:35] sagniknitr commented on #59
@gaoethan Can you check this patch (https://github.com/sagniknitr/geometry2/commit/2fd5ab430ec1629ab618755a467a8bbb17d2a559).

There seems to be a error with rclcpp::Clock::now() function call ;  which you are using in the code you pushed. Apparently you need to create a Clock object for using rclcpp::Clock::now().

[2018-11-26 02:50] gaoethan commented on #59
@sagniknitr Thanks, so... you prefer a dedicated clock object instead of invoking directly. :)

[2018-11-26 04:35] sagniknitr commented on #59
AFAIK we cannot invoke `now()` directly without creating a clock object. Or has it been changed recently in the rclcpp layer ?

[2018-11-27 03:23] gaoethan commented on #59
Actually it can be invoked directly now.

[2018-12-12 18:18] JacobJBeck opened #87 "tf2_ros is not built for Python"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04 LTS
- Installation type:
  - Binaries or source
- Version or commit hash:
  - d89b9a2e154a19c224dade0b13275df34180bf12
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclpy

#### Steps to reproduce issue

[code]

#### Expected behavior
Module `tf2_ros` is imported.

#### Actual behavior
Error `ModuleN

[2018-12-12 18:21] JacobJBeck commented on #87
I modified and tried to build the linked fork, but it didn't resolve the issue. My repos file is attached below.

[ros2.repos](https://github.com/ros2/geometry2/files/2673038/ros2.repos.txt)

[2018-12-12 18:49] clalancette commented on #87
Yeah, this is one part of geometry2 that we haven't ported yet.  PR #26 that you linked to needs some work to get it into shape for merging.  If you'd like to see it in ROS 2 sooner rather than later, consider updating that PR to the newest code and responding to the feedback from review.  For now, I'll mark this as an enhancement.

[2018-12-14 01:52] jacobperron opened #88 "[tf2_echo] Exception thrown:"X" passed to lookupTransform argument target_frame does not exist"
## Bug report

**Required Info:**

- Operating System:
  - OSX (High Sierra)
- Installation type:
  - Binary
- Version or commit hash:
  - Crystal (pre-release)
- DDS implementation:
  - Fast-RTPS, Connext (5.3.1), and Opensplice (6.9)

#### Steps to reproduce issue

Follow the [tf2 tutorial](https://index.ros.org/doc/ros2/tf2/).
In one terminal:
[code]

In a second terminal:
[code]

#### Expected

[2018-12-14 01:52] jacobperron opened #373 "[tf2_echo] Exception thrown:"X" passed to lookupTransform argument target_frame does not exist"
## Bug report

**Required Info:**

- Operating System:
  - OSX (High Sierra)
- Installation type:
  - Binary
- Version or commit hash:
  - Crystal (pre-release)
- DDS implementation:
  - Fast-RTPS, Connext (5.3.1), and Opensplice (6.9)

#### Steps to reproduce issue

Follow the [tf2 tutorial](https://index.ros.org/doc/ros2/tf2/).
In one terminal:
[code]

In a second terminal:
[code]

#### Expected

[2018-12-14 22:37] tfoote commented on #373
This looks like an cross vendor discovery issue that tf2_echo is getting delayed discovery/connections before it can establish the connection. I'll move this to ros2/ros2 for tracking as I don't think that there's anything implementation specific in here.

[2018-12-26 02:36] yechun1 commented on #59
This issue should be fixed by https://github.com/ros2/geometry2/pull/81 now.

[2018-12-26 10:58] #59 closed, assigned to nobody

[2019-02-02 18:31] flynneva opened #308 "Coordinate Frames "Pushing Down" with transforms"
## Feature request

- transforms function the same way as namespaces, allowing for pushing down of frame_ids
- loading in static_tf_params from a yaml file not directly from a launch file

#### Feature description

With ROS 1.0 namespaces you could "push down" different nodes into unique namespaces so that you could have multiple of the same-named nodes in different namespaces (i.e. /left_arm/hand

[2019-02-09 02:29] mkhansenbot opened #92 "threading error spews a non-stop stream of messages via printf"
## Bug report

**Required Info:**

- Operating System:
Ubuntu 18.04
- Installation type:
Source
- Version or commit hash:
ros2 branch, 0.10.1 tag
- DDS implementation:
Fast RTPS
- Client library (if applicable):
rclcpp

#### Steps to reproduce issue

[code]
Not sure how exactly to reproduce as I don't fully understand yet.

#### Expected behavior

#### Actual behavior
Getting this message spewed t

[2019-02-09 14:04] clalancette commented on #80
@mkhansen-intel Yeah, it looks like the code for this got merged.  Can you confirm that your original issue is solved?  Assuming so, feel free to close this out.

[2019-02-13 14:28] rasmusan commented on #70
@Myzhar do you have any plans to continue work on this? If not, I might try to implement the functionality according to @Karsten1987's suggestion.

[2019-02-13 17:43] Myzhar commented on #70
@rasmusan I'm sorry but i have not the time to work on this now.
If you can continue it would be great

[2019-02-14 02:34] tfoote commented on #92
This is related to #89 that we don't have the ability to have custom callback queues. So the listener is starting it's own node to make sure that things are going to come in while it's blocking the callback thread. You can use the false constructor argument as long as you make sure that there's another executor with a thread that will be servicing incoming tf messages. And in that case you should

[2019-02-21 05:54] cottsay commented on #92
@mkhansen-intel, were you able to work around the errors using @tfoote's suggestions?

[2019-03-04 20:02] mjeronimo opened #94 "LifecycleNode support for tf2_ros::TransformListener"
## Feature request

#### Feature description
Similar to #70, the TransformListener class needs support for lifecycle nodes.

#### Implementation considerations
There could be a constructor that takes the required node interfaces, perhaps in addition to rclcpp::Node and rclcpp_lifecycle::LifecycleNode.

[2019-03-04 20:04] mjeronimo opened #95 "Lifecycle node support for tf2_ros::MessageFilter"
## Feature request

#### Feature description
Similar to #70 and #94, the MessageFilter class needs support for lifecycle nodes.

#### Implementation considerations
There could be a constructor that takes the required node interfaces, perhaps in addition to rclcpp::Node and rclcpp_lifecycle::LifecycleNode.

[2019-03-07 16:52] mjcarroll opened #97 "Uses `printf` rather than logging mechanism"
Based on #92  Geometry doesn't make use of the `RCLCPP_*` logging mechanism, but instead uses `printf`

#### Additional information

The likely offenders are:

[code]

[2019-03-07 16:52] mjcarroll commented on #92
Thanks @mkhansen-intel, I captured the `printf` defect in #97, so I'll close this one.

[2019-03-07 16:52] #92 closed, assigned to nobody

[2019-03-07 21:59] mjeronimo commented on #94
@wjwwood @tfoote I'd like to update the TransformListener class to work with interface pointers rather than rclcpp::Node::SharedPtr so that it can work with lifecycle nodes. However, it's not clear to me how one would use the node_topics interface to create a subscription. It requires a subscription factory and subscription options from the RCL layer. I can't seem to untangle this. Can you provide

[2019-03-08 18:38] mjeronimo commented on #70
I think that introducing the NodeBaseInterface and NodeTopicsInterface is not sufficient. The publisher created by a LifecycleNode will still need to be activated/deactivated. Since TransformBroadcaster holds the created publisher, it should expose activated() and deactivated() methods so that it could reflect these calls to the publisher->on_activate() and on_deactivate. However, an rclcpp_lifecy

[2019-03-15 04:38] vinnamkim commented on #87
@clalancette I'd like to take on this issue. Is it possible?

[2019-03-15 12:44] clalancette commented on #87
@vinnamkim Feel free to fork off #26 and then make changes.  From there, you can open a PR targeting #26, and we can merge it into that PR to finish the review there.

[2019-04-08 17:30] MarkAtwood opened #101 "no top level LICENSE file"
This repo does not have a top level LICENSE file.
The MIT license makes the most sense for a project like this.

[2019-04-08 17:40] dirk-thomas commented on #101
Please provide a pull request to the upstream repository instead. Since this is only a fork we think adding the LICENSE file upstream makes more sense.

Also afaik the packages in this repo use the BSD license - so MIT doesn't sound right (please don't copy and paste the same issue text into various repositories without actually checking if they apply).

[2019-04-08 17:40] #101 closed, assigned to nobody

[2019-04-16 22:42] Karsten1987 opened #103 "Static Transform Publisher should use node interfaces"
Currently the static transform publisher requires a shared pointer to a complete node in order to create the publisher. This means, that as-is, this TF publisher can't be easily used in a composable node constructor, essentially because a shared pointer to `this` can't be created when the object itself is not fully created.

The feature request here is to use the `NodeTopicsInterface` instead and

[2019-04-17 23:15] #103 closed, assigned to Karsten1987

[2019-05-09 20:18] clalancette opened #110 "Finish porting Python portions of tf2_kdl"
Currently the Python portions of tf2_kdl are commented out: https://github.com/ros2/geometry2/pull/90/files#diff-61737c5a9ef69ef2118eafbc59732b6aR21 .  This is because at the time the tf2_kdl port was done, the tf2_py package was not yet ported (see #99).  Once that is done, we can finish the port of the tf2_kdl python portions.

@mlautman has additional followup tasks (mostly around the python) i

[2019-06-12 08:38] anasarrak opened #116 "Not finding dashing tf2_kdl on debians"
I'm not able to install ``ros-dashing-tf2-kdl`` from debians.

[code]
But installying it from source it compiles and works perfectly.

[2019-06-12 08:41] vmayoral commented on #116
Related to https://github.com/ros2/geometry2/pull/90. I can confirm I'm experiencing the same issue.

[2019-06-12 16:03] dirk-thomas commented on #116
The reason why it is not released is that the package is being ignore in the release repo: https://github.com/ros2-gbp/geometry2-release/blob/864cb8cd7947f3b90d2f709890601f699322f4c7/dashing.ignored#L5

@tfoote Can you clarify if that is intentional? If yes, please describe why that is the case? If no, please do a new release with updated ignores.

[2019-06-12 16:52] clalancette commented on #116
I've done it in https://github.com/ros2-gbp/geometry2-release/pull/2

[2019-06-12 21:40] rotu opened #118 "Uninformative error messages from MessageFilter"
When trying to use AMCL, I got the following errors. They are problematic because (1) it's hard to tell they are coming from a MessageFilter, (2) it gives no idea of severity (INFO seems innocuous but signalFailure sounds scary). (3) the "reason" code is not interpretable.

[code]

[2019-06-17 13:56] anasarrak commented on #116
Thanks @clalancette and @dirk-thomas, this issue has been addresed on the [Patch Release 1](https://github.com/ros2/ros2/releases/tag/release-dashing-20190614). Closing this issue.

[2019-06-17 13:56] #116 closed, assigned to tfoote

[2019-06-25 23:07] mabelzhang opened #124 "TransformListener separate node getting renamed breaks parameters"
Currently, very careful usage is required with `tf2_ros::TransformListener` to work around breaking parameters or breaking tf receipt.

When `tf2_ros::TransformListener` is created with the short constructor that does not take a `rclcpp::Node`, the `TransformListener` creates its own node. If a node using the `TransformListener` gets renamed, this separate tf node gets renamed too, and you end up

[2019-07-05 20:46] jdlangs opened #125 "Future of tf2::convert in ROS2"
The ROS2 port has had the heterogeneous `convert` function disabled for quite a while now due to the inability to distinguish ROS messages at compile time (see [here](https://github.com/ros2/geometry2/blob/ca889e48069707330d221392bda8ad99900ce954/tf2/include/tf2/convert.h#L113)). Twice now I've spend a good chunk of time debugging why the call to convert wasn't compiling before finally opening the

[2019-07-12 03:57] DanielLuu opened #189 "stderr: tf2"
## Bug report

**Required Info:**

- Operating System:
  - macOS 10.14.5
- Installation type:
  - From source
- Version or commit hash:
  -
- DDS implementation:
  - Fast-RTPS

#### Steps to reproduce issue
Followed build from source
On running
`colcon build --symlink-install`

``` code that can be copy-pasted is preferred ``` -->
[code]

#### Expected behavior
All packages processed

#### Actual

[2019-07-12 13:46] artivis commented on #125
Related https://github.com/ros/geometry2/issues/389

[2019-07-16 09:30] shikharvaish28 opened #128 "Support for ROS2 Dashing along with python3"
[code]
I have built the geometry library for my project using `colcon` for ROS2 Dashing and Python 3 and sourced it using `source install/setup.bash` but am getting this error on importing the `TransformListener` from `tf2_ros`.

My directory structure is as follows:

[code]

It would be great if anyone could help me know where exactly the error is coming from.

[2019-07-16 12:09] clalancette commented on #128
The basic problem is that we haven't ported the python portion of tf2/tf2_ros to ROS 2 yet.  In point of fact, you got further than I think you should have; it should have failed to find the `tf2_ros` module, not just the buffer_interface.  Are you using some custom geometry2 code?

[2019-07-16 12:52] shikharvaish28 commented on #128
Thanks for the clarification @clalancette

Yes, I altered a couple of lines thinking that it would work but now it appears that it requires more work.

Okay, now I get it. So I guess, I will have to use the tf2 in CPP as of now. Is tf2_ros fully supporting ROS2 dashing?

[2019-07-16 17:42] clalancette commented on #128
Yes, we've ported the C++ version of tf2_ros to Dashing.  All of the major components are there, but do please let us know if you run into issues (or even better, open a PR to fix them).

I'm going to close this out since it is essentially a duplicate of #99, but feel free to reopen if you need something different.

[2019-07-16 17:42] #128 closed, assigned to nobody

[2019-07-17 18:54] Karsten1987 commented on #70
@Myzhar Can this issue be closed? There is support for lifecycle nodes now introduced in #108

[2019-07-17 22:12] #70 closed, assigned to nobody

[2019-07-22 16:37] rotu opened #132 "BufferCore::lookupTransform does not appropriately keep BufferCore locked."
In `tf2::Buffer::lookupTransform`, there are consecutive calls to `canTransform` and `lookupTransform`. Internally, both calls take a lock on the underlying `BufferCore` object, but the lock is relinquished in between those two function calls.

This can result in a failure to transform with no error message or an incorrect error message.

[2019-07-24 00:38] tfoote commented on #132
Please provide a link to the lines in question. I'm assuming you're talking about tf2_ros::Buffer::lookupTransform.

Can you explain what you consider an "incorrect" error message and what scenario would produce it?

Also in what use case would you get no error message?

[2019-07-24 03:41] rotu commented on #132
Oops. I was misreading the code here https://github.com/ros2/geometry2/blob/046df60dad728754c434b31f07423fe72db91670/tf2_ros/src/buffer.cpp#L94-L99

`Buffer` has some `canTransform` method, which I thought was being used to generate error messages for why a transform is impossible, but it looks like the call is instead to block until BufferCore has a path between the two frames. `BufferCore` also

[2019-07-24 03:41] #132 closed, assigned to nobody

[2019-07-26 08:58] MengNan-Li opened #136 "No rclcpp/create_timer.hpp in ros2 dashing version"

[2019-07-26 12:36] clalancette commented on #136
Please provide detailed information about what you are trying to do, and what your results are.  A single sentence like this isn't something we can take any action on.  Additionally, this is the wrong repository; if you are having trouble with rclcpp, please open a ticket with the details on https://github.com/ros2/rclcpp.  I'm going to close this out.

[2019-07-26 12:36] #136 closed, assigned to nobody

[2019-07-31 09:38] vinnamkim opened #141 "Raise std::future_error: Promise already satisfied"
## Bug report

**Required Info:**

- Operating System:
Ubuntu 18.04
- Installation type:
source
- Version or commit hash:
e29db0a46edfd1ccfbf538096ad605359f7a6109
- DDS implementation:
Fast-RTPS
- Client library (if applicable):
rclcpp, nav2_amcl

#### Steps to reproduce issue
Launching nav2_bringup's nav2_simulation_launch.py and waiting some minutes.

#### Expected behavior
Nothing happen

####

[2019-07-31 09:38] vinnamkim commented on #141
Related to https://github.com/ros-planning/navigation2/issues/967

[2019-08-02 17:22] SteveMacenski opened #142 "ros2 branch tf2_ros fails to find BufferCoreInterface on clean build with dashing debians"
## Bug report

**Required Info:**

- Operating System: Ubuntu 18.04
  -
- Installation type: source
  -
- Version or commit hash: ros2
  -
- DDS implementation: n/a
  -
- Client library (if applicable):
  -

#### Steps to reproduce issue

[code]

#### Expected behavior
Compiling

#### Actual behavior
Not compiling

#### Additional information

[code]
----

I've tried to add explicitly the header f

[2019-08-02 19:25] dirk-thomas commented on #142
The `ros2` branch targets the current `master` of ROS 2 which will become Eloquent in November. If you want to build against Dashing you need to use the `dashing` branch. Or if you really need changes only available on the `ros2` branch you need to build the rest of ROS 2 with the latest state.

[2019-08-02 20:14] SteveMacenski commented on #142
@dirk-thomas I am building against ros2 master branch

I am also building the rest of ROS 2 with the latest state, this issue is referring to the fact that tf2_ros is linking against dashing debians and not tf2 in the same workspace

[2019-08-02 20:18] dirk-thomas commented on #142
Please provide more context and exact steps what you are doing. The information in the original description are not sufficient.

[2019-08-05 18:00] SteveMacenski commented on #142
I nuked all my workspaces and rebuilt, I think I got into a weird state that I cannot now reproduce in an isolated environment. My guess is there was something in a lower workspace I was working with that had a dirty environment.

[2019-08-05 18:00] #142 closed, assigned to nobody

[2019-08-05 23:39] jacobperron commented on #141
I also ran into this myself. Working on a fix now.

[2019-08-06 00:29] jacobperron commented on #141
This bug was introduced in #121.
Fixed in #143.

[2019-08-06 16:11] jacobperron commented on #141
@vinnamkim @mkhansen-intel Can someone confirm that applying #143 resolves the issue for you?

[2019-08-06 19:01] ghost opened #145 "Default waitForTransform timeout of 0ns in message filter results in 100% transform timeout"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - source
- Version or commit hash:
  - fccfd98 (latest on master 6 Aug 2019)
- DDS implementation:
  - fastRTPS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue
I see this problem when running the navigation2 stack in Gazebo. I can try to provide a simple way to reproduce if ne

[2019-08-06 20:10] ghost commented on #145
Or, is the intent that message_filter should never time out messages; instead, it just drops them when the queue is full? That's the impression I get looking at the interface.

[2019-08-06 22:15] #141 closed, assigned to jacobperron

[2019-08-06 23:18] jacobperron commented on #145
This is a bug. Addressed in #146.

[2019-08-06 23:20] jacobperron commented on #145
This might make more sense then what I've done. I'll consider updating #146.

[2019-08-07 00:02] ghost commented on #145
#146 fixes the problem for me. Thanks.

[2019-08-07 02:08] #145 closed, assigned to nobody

[2019-08-13 18:11] #124 closed, assigned to nobody

[2019-08-19 18:00] rotu opened #149 "Two public getYaw methods"
tf2 has two public getYaw methods, one in `include/tf2/impl/utils.h` as `inline double tf2::impl::getYaw(const tf2::Quaternion& q)` and one in `include/tf2/utils.h` as `template <class A> double tf2::getYaw(const A& a)`, which internally uses the first.

The first method should probably not be in a public header, since the second subsumes it. I'm guessing that the headers in `include/tf2/impl` wer

[2019-08-20 01:36] vinnamkim opened #150 "tf2::BufferCore fails to lookupTransform for static transform after clear"
## Bug report

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - source
- Version or commit hash:
  - https://github.com/ros2/geometry2/commit/f282d2767e4d60d808be4a9cdf9a7019404b6e48
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue
The following test is failed.
[code]

In contrast, the following test is succeed.
[code]

####

[2019-08-20 02:50] vinnamkim commented on #150
It is occurred since `tf2::BufferCore` can't change a type of `TimeCacheInterfacePtr` in `frames_`. It seems there would be two approaches to the problem.

1. `tf2::BufferCore::clear()` removes `frames_` not just calling `TimeCacheInterfacePtr::clearList()`.
2. `tf2::BufferCore::setTransform()` overwrites a type of `TimeCacheInterfacePtr` with a current input(static or non-static).

Some discussio

[2019-08-23 19:31] rotu opened #154 "Should tf be Reliable or BestEffort?"
I notice a lot of cases (e.g. spinning up nodes, transform_listeners without their own thread, network latency due to WiFi multicast) where `tf` throughput will slow to a crawl. Would it make sense to change the `/tf` QoS from reliable to best effort so it is not subject to this backpressure?

[2019-08-27 00:33] tfoote commented on #149
It's in a header with the path `impl` and the method is in the namespace `tf2::impl` to indicate that it's an implementation detail. The header needs to be available at downstream compile time due to the latter being a templated method. What do you suggest should be changed?

[2019-08-27 00:44] rotu commented on #149
I suggest the impl headers be moved from `include` to `src`, as is appropriate for private headers. Otherwise, they will get used, as in https://github.com/ros-planning/navigation2/blob/8196e1f422fc6f3c7bad8c54a9744c2fc2809356/nav2_amcl/src/amcl_node.cpp#L510

Edit: misread your response and I see what you mean. It probably makes sense to keep these functions together and those template functions

[2019-08-28 23:15] jacobperron opened #158 "Port buffer action server and buffer action client"
## Feature request

#### Feature description

Now that actions are available in ROS 2, we can port the buffer server and client:

- https://github.com/ros2/geometry2/blob/ros2/tf2_ros/src/buffer_server.cpp
- https://github.com/ros2/geometry2/blob/ros2/tf2_ros/src/buffer_client.cpp

I've started porting the code and it looks like it should be fairly straight forward.

[2019-09-04 02:33] rotu commented on #154
See https://github.com/ros-planning/navigation2/issues/1094 for a concrete example of what (I think) this design choice is causing.

[2019-09-05 17:20] clalancette commented on #154
So the design choice for /tf to be reliable is for two major reasons:

1.  In many applications, it does make sense that all transforms do get delivered; you don't necessarily want to drop some on the floor.
1.  This is compatible with how ROS 1 does things.

If this is a bug in how Opensplice is handling things, then I think it is worthwhile to connect with ADLink and see if they have any thought

[2019-09-05 17:43] rotu commented on #154
I think it's not a bug with how OpenSplice handles things, but rather becomes obvious because of the rather extreme case that came up with OpenSplice traffic jams.

That may be so, but this design choice prevents meaningful usage of `SensorDataQoS` with sensor data in multiple TF frames, since data that is delivered via best-effort must wait until TFs are delivered in order to reconcile them. The

[2019-09-11 22:26] tfoote commented on #149
Yeah, we can't do much to prevent headers from being used beyond naming conventions. Thanks for double checking.

[2019-09-11 22:26] #149 closed, assigned to nobody

[2019-09-12 02:15] tfoote commented on #154
The general idea behind tf was that it would be robust to dropped packets due to interpolation, but we have never really fleshed that out since the ROS transport never really tested that. And there are some corner cases that might need an improved API if significant dropping is going on. For example, a max interpolation distance might be in order. Two datasamples 10 seconds apart do not necessaril

[2019-09-13 00:11] #158 closed, assigned to jacobperron

[2019-09-16 19:18] clalancette opened #168 "Style cleanup on tf2_py.cpp"
After #99 is merged, there is a bunch of style cleanup that should be done on https://github.com/ros2/geometry2/blob/ros2/tf2_py/src/tf2_py.cpp .  We should do the following:

1.  Switch NULL -> nullptr
1.  Use consistent bracket style everywhere
1.  Enable the cpplint/uncrustify checks from ament to keep the style consistent in the future.

[2019-09-16 19:20] clalancette opened #169 "Split the tf2_ros package into tf2_ros and tf2_ros_py"
As [discussed](https://github.com/ros2/geometry2/pull/99#pullrequestreview-273168135) in the review for #99, the tf2_ros package currently has both the C++ and Python interface embedded into the same package.  This is problematic because tf2_py wants to depend on the tf2_ros C++ code, and be depended on by the tf2_ros Python code, leading to a circular dependency.  We currently break that dependen

[2019-09-16 19:23] clalancette opened #170 "Change tf2_ros Python buffer client to a service?"
In the port of tf2_ros Python to ROS 2 in #99, there was a TODO [added](https://github.com/ros2/geometry2/pull/99#pullrequestreview-273168135) asking why the buffer client is an action and not a service.  We should revisit this decision and switch it to a service (maybe an asynchronous one) if it makes sense.

[2019-09-16 21:58] clalancette commented on #12
As of #160 , we've removed the message completely and now use a transient local publisher.  Closing.

[2019-09-16 21:58] #12 closed, assigned to nobody

[2019-09-16 22:02] clalancette commented on #80
I think this is solved as of Crystal, so I'm going to close it out.  Feel free to open a new issue if you are still having problems.

[2019-09-16 22:02] #80 closed, assigned to nobody

[2019-09-16 22:03] clalancette commented on #87
#99 is now merged, so closing this.

[2019-09-16 22:03] #87 closed, assigned to nobody

[2019-09-18 21:54] jacobperron commented on #170
This question came up when I was porting the C++ buffer action client and server.
The answer I got was that actions have the benefit of being preempt-able. E.g. a client can request a transform and then later cancel the request.
That being said, if we implemented them with services, an implementer could simply ignore a late reply.

If we do decide to change to services, we should also update the C

[2019-09-18 21:56] jacobperron commented on #170
I just noticed that there isn't an API exposed to cancel a goal in the C++ implementation :man_shrugging:

[2019-09-19 18:35] tfoote commented on #170
Yeah, for the basic api as it is the preemptability isn't super important. All of the existing API is designed to duplicate the core API which is synchronous.

[2019-09-25 08:41] MengNan-Li commented on #189
I also meets the same problem.

[2019-09-26 21:34] clalancette opened #174 "Remove unused setup.py files"
There are 4 setup.py files in this repository that look like they are no longer used:

* https://github.com/ros2/geometry2/blob/b2706c5cf3aa761112c15b7f816be89fa63a315e/tf2_kdl/setup.py
* https://github.com/ros2/geometry2/blob/b2706c5cf3aa761112c15b7f816be89fa63a315e/tf2_sensor_msgs/setup.py
* https://github.com/ros2/geometry2/blob/b2706c5cf3aa761112c15b7f816be89fa63a315e/tf2_ros/setup.py
* https:

[2019-09-26 23:24] dirk-thomas commented on #174
Wouldn't it have been similar effort to create a PR instead of this ticket?

[2019-09-27 12:07] clalancette commented on #174
I was busy doing releases, so no.  I'll get around to it when I can.

[2019-09-27 21:58] SteveMacenski opened #176 "tf2_geometry_msgs geometry_msgs to TF2 StampedTransform"
## Bug report

**Required Info:**

- Operating System: Ubuntu 18.04
  -
- Installation type: Dashing latest release, E master on hash below
  -
- Version or commit hash: 4e519f3e77611a18f03398b6334e9cc8ccf49552
  -
- DDS implementation: Fast RTPS
  -
- Client library (if applicable): rclcpp
  -

#### Steps to reproduce issue

try to call

[code]
Defined here: https://github.com/ros2/geometry2/blob

[2019-09-28 23:06] Karsten1987 commented on #189
I just ran into a similar problem.

The way I could solved it was by uninstalling `console_bridge` and solely rely on the `console_bridge_vendor` package.
My believe is that the `console_bridge` from homebrew brings in a somewhat different version of gtest.

[2019-10-10 23:56] jacobperron commented on #176
The same error happens with the `toMsg` call for stamped quaternions.

Since the `tf2::Stamped<T>` classes are defined as a subclass of `T`, the compiler is preferring the overloaded methods. E.g. that's why if you look closely at your error message it complaining about assigning a non-stamped type `geometry_msgs::msg::Transform` to a `geometry_msgs::msg::TransformStamped`:

    error: no match fo

[2019-10-11 00:04] SteveMacenski commented on #176
Awesome! I was a little iffy on filing the bug at all since I was ***sure** it was something I did. Thanks for taking care of it, that all looks and sounds rational

[2019-10-14 17:57] sloretz commented on #125
Related to #176

[2019-10-14 18:07] sloretz commented on #176
It seems like the code used [by slam_toolbox in ROS 1 `tf2::convert(base_to_map, base_to_map_msg)`](https://github.com/SteveMacenski/slam_toolbox/blob/7dba9a7296dda2e9cec943b8c4873b9bf1b4e800/src/slam_toolbox_common.cpp#L352) might be fixed by #167.

[2019-10-14 18:25] SteveMacenski commented on #176
Looks like that PR's been sitting around for awhile. Would love to make it back the same but seems like both are issues worth addressing. What I have now works, just isn't ideal.

[2019-10-18 13:54] sharronliu opened #183 "tf2_ros::StaticTransformBroadcaster does not keep last msg for later subscription"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - binaries
- Version or commit hash:
  - Dashing
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue
In rclcpp node, send static TF using `tf2_ros::StaticTransformBroadcaster::sendTransform()`. The function was invoked only once, since the TF is

[2019-10-19 02:42] #176 closed, assigned to jacobperron

[2019-10-19 02:59] SteveMacenski commented on #176
Thanks @jacobperron

[2019-10-21 15:15] clalancette commented on #183
It is kept, but the naming in DDS (and hence ROS 2) is different.  In ROS 2, a "latched" topic is called "transient local".  If the publisher is a "transient local", then it will hold a copy for any subscriber that comes in later.  However, the subscriber must also be "transient local" for this to work.

If you use the stock TF2 clients, they have the appropriate QoS settings for this to work.  If

[2019-10-21 15:15] #183 closed, assigned to nobody

[2019-10-21 16:30] sloretz commented on #183
@sharronliu I noticed you're using `Dashing`. The static listener and broadcaster use transient local durability as of #160, so it should behave as you expect in `Eloquent`.

[2019-10-22 07:41] maxlein opened #185 "lookupTransform blocks forever"
When I lookup transforms with a timeout parameter, the function blocks forever when there exists no transform ...
Without timeout parameter, I get an immediate exception that the frame doesn't exist

## Bug report

**Required Info:**

- Operating System:
Ubuntu 18.04
- Installation type:
binaries
- Version or commit hash:
Dashing
- DDS implementation:
opensplice
- Client library (if applicable):
r

[2019-10-23 00:46] RoboticsYY opened #188 "Unable to import tf2_ros"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - from source
- Version or commit hash:
  - c3cabae25308c35e5f7d3e6ee879aa5b052dc711
- DDS implementation:
  - Fast-RTPS

#### Steps to reproduce issue

- Install ROS2 [Dashing](https://index.ros.org/doc/ros2/Installation/Dashing/Linux-Install-Debians/)
- Build ros2/geometry2
[code]
- Import `tf2_ros` in

[2019-10-23 00:49] clalancette commented on #188
Unfortunately, the tf2_ros python port is not going to work with Dashing (or, at least, it's not going to work with Dashing without significant additional work).  That's because the port uses some APIs from Eloquent.  Actually, I'm surprised it compiled at all for you, since I thought we were using APIs that didn't exist in Dashing.  @sloretz , thoughts?  I'm going to close this out as this isn't

[2019-10-23 00:49] #188 closed, assigned to nobody

[2019-10-23 01:03] sloretz commented on #188
The python port is not backported to dashing because it uses https://github.com/ros2/rclpy/pull/412 and the Python static transform broadcaster and listener use `transient_local` durability following https://github.com/ros2/geometry2/pull/160 . Both of those would show up as test or runtime issues rather than compile errors. I don't know what other changes have been added to geometry2 since Dashin

[2019-10-23 01:06] RoboticsYY commented on #188
Thanks for the answers. Looking forward to the tf2_ros python. Most of our ros1 python projects need this to do the porting. Currently I take a substitution with a cpp service.

[2019-10-25 00:44] wjwwood commented on #189
@Karsten1987 since you opened a pull request related to this (https://github.com/ros/console_bridge/pull/63) can I ask you to resolve this issue when appropriate? (I assigned you)

If you don't think that make sense, please let me know.

[2019-11-14 17:03] wjwwood commented on #189
Bump @Karsten1987

[2019-11-14 17:52] Karsten1987 commented on #189
referenced PR got merged. I am going ahead and close this as I believe this error shouldn't occur in the future once console bridge is released again in homebrew.

Feel free to re-open this in case it still is not resolved.

[2019-11-14 17:52] #189 closed, assigned to Karsten1987

[2019-11-15 18:51] sloretz opened #194 "Python call callback with transform data when it becomes available"
## Feature

It would be convenient if there was an API that returned transform information in a callback.

#### Feature description

It looks like C++ has an overload of `waits_for_transform` that calls the callback with a future containing the transform.
https://github.com/ros2/geometry2/blob/71f823e90b699c9535ce682db777f7bc88cdfbcd/tf2_ros/include/tf2_ros/buffer.h#L214-L216

#### Implementation

[2019-11-15 19:42] hidmic opened #195 "tf2_monitor is not working"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04, both AMD64 and ARM64
- Installation type:
  - Binaries and from source
- Version or commit hash:
  - https://github.com/ros2/geometry2/commit/71f823e90b699c9535ce682db777f7bc88cdfbcd

#### Steps to reproduce issue

Start a static transform publisher:

[code]

and then start a `tf2` monitor:

[code]

or even

[code]

#### Expe

[2019-11-18 12:52] #195 closed, assigned to nobody

[2019-11-19 00:04] #174 closed, assigned to nobody

[2019-12-02 08:55] maxlein opened #200 "Memory leak on exception"
## Bug report

I have 2 nodes which lookup a transform from base_link -> map.
As soon as the map transform is not published anymore, in my case the node crashed, memory usage is increasing linearly as seen on the screenshot.
Probably due to the exception being thrown during lookup.

base_link -> static
odom -> still publishing
map -> stopped publishing

On the screenshot you see a purple line whic

[2019-12-02 16:10] hidmic commented on #200
@maxlein could you provide us with a small repro? I can only infer what `tf` is in `tf.lookupTransform(targetFrame, tf2_time, sourceFrame, tf2_time, targetFrame);` or in what context the exception is being thrown.

[2019-12-02 17:54] maxlein commented on #200
This is the exact function I call:

[code]

To get a working test that results in the exact exception I would need more time.
I have a little test, but it doesn't lead to the correct exception and also didn't check if this one leaks yet.

[code]

[2019-12-03 11:36] maxlein opened #213 "Segmentation fault on laser scan"
I got some SIGABRT and SIGSEGV when using message filters in slam_toolbox.
Maybe you guys can better help out here.

The issue is described in detail [here.](https://github.com/SteveMacenski/slam_toolbox/issues/136)

Basically what I saw is that memory usage is increasing and after ~1,2 hours the node crashes.

[code]

[2019-12-06 15:07] nuclearsandwich commented on #185
@maxlein I wasn't able to reproduce a hang using OpenSplice from debs (lookupTransform threw an exception with and without the timeout). Can you check that you're still hitting this bug, and if so provide a complete example package which demonstrates it to aid my investigations?

[2019-12-06 15:26] allenh1 commented on #194
@sloretz would you mind if I looked into doing this?

[2019-12-06 15:37] sloretz commented on #194
@allenh1 please do, and thank you!

[2019-12-11 21:38] piraka9011 opened #204 "Increase `timeout_padding` for `BufferClient` tests to support build farm armhf tests"
## Bug report

- Operating System:
  - Ubuntu 18.04 (Build farm)
- Installation type:
  - Source
- Version or commit hash:
  - `master`
- DDS implementation:
  - Fast-RTPS

#### Steps to reproduce issue

Run the build farm tests:
`colcon test --packages-select tf2_ros`

#### Expected behavior

The following tests Pass
[`test_lookup_transform_true`](https://github.com/ros2/geometry2/blob/88cb824a1a

[2019-12-12 22:50] piraka9011 commented on #204
I tried increasing the `timeout_padding` of the `BufferClient` and it looks like that does not fix the test. It seems this is a deeper issue in the buffer client.

When the `BufferClient` [processes a goal](https://github.com/ros2/geometry2/blob/88cb824a1a069cbb3e4bd2eb9c10b626b00fe0ac/tf2_ros/src/tf2_ros/buffer_client.py#L159) it immediately checks if the server is ready without ever calling a `w

[2019-12-17 03:19] tfoote commented on #204
You added the wait_for_server just before this?   https://github.com/ros2/geometry2/blob/88cb824a1a069cbb3e4bd2eb9c10b626b00fe0ac/tf2_ros/test/py_test/test_buffer_client.py#L194

We could also add a wait and then assert there that the client is connected at that time to close that possibility of a startup race condition.

We shouldn't add the wait in the constructor. Calling code should never make

[2019-12-17 03:59] piraka9011 commented on #204
Yes

It doesn't look like the client ever connects (waited for more than a minute), unless it takes a really long time to connect....

I increased that when testing locally and the test still failed.

[2019-12-18 10:07] ahcorde opened #208 "Split the tf2_kdl package into tf2_kdl and tf2_kdl_py"
As [discussed](https://github.com/ros2/geometry2/pull/206#pullrequestreview-333369030) in the review for https://github.com/ros2/geometry2/pull/206, the tf2_kdl package currently has both the C++ and Python interface embedded into the same package. We should break it up so that tf2_kdl contains just the C++ code/interfaces, and introduce a new package tf2_kdl_py that contains the Python code/inter

[2020-01-02 18:22] tfoote commented on #204
Hmm this now looks like an issue with the action client initializing then. If you can isolate this down to a simplified example we should refile it onto the actions.

[2020-01-02 22:47] wjwwood commented on #208
@ahcorde I'm assign you this to triage it. If you're going to do it soon, please add it to a project board, like Foxy and leave yourself assigned. If not, please either close it or put it in the backlog using the backlog label.

[2020-01-02 22:58] wjwwood commented on #213
@cottsay can you triage this issue?

[2020-01-09 06:14] #125 closed, assigned to mjcarroll

[2020-01-10 14:21] ahcorde opened #212 "tf2_ros test_buffer_client.py test is not working in CI"
tf2_ros test_buffer_client.py test is not working in CI.

Weird behaviour, test is fully working in the local machine but inside the CI the test is failing.

[2020-01-10 22:21] cottsay commented on #213
@jacobperron, you changed the faulting code pretty heavily in Eloquent (#121). The bit that is breaking was removed here: https://github.com/ros2/geometry2/commit/046df60dad728754c434b31f07423fe72db91670#diff-724ff79b0edd5a83f8a62b5e2ffa085cL378

Since you have context in this space, do you think this bug was fixed by your change? Could the relevant part of that change be backported to resolve the

[2020-01-10 22:22] dirk-thomas commented on #213
@maxlein Please provide exact steps to reproduce the problem.

[2020-01-11 02:14] jacobperron commented on #213
@cottsay I don't think backporting #121 directly is an option since it ~~changes~~ adds API (breaks ABI). But it might be good to know if it does resolve the issue.

@maxlein Are you able to try ROS Eloquent and see if the issue persists?

[2020-01-12 18:19] allenh1 commented on #194
@sloretz since the issue you mentioned is closed now, I'm assuming this can be done as you were saying by using `wait_for_transform_async`, right? I'll send a PR in with that assumption and we can talk further if that wasn't a good one.

[2020-01-19 19:17] maxlein commented on #213
I am running eloquent now. Exactly this segfault I am not seeing anymore.
But I got another one 😢
This time some `signalFailure`...
Can't give you more than that, was a situation where we had not much time.

[code]

[2020-01-19 19:46] maxlein opened #219 "[TF] Slash or no slash, that is the question"
My frames look like this:

[code]

I just use default ROS tools/ways of publishing tf's, so nothing special.

But robot_state_publisher is adding a slash to tf frames.
And I think the rule is not to have a leading slash before frames.
A tf publisher in the driver for example doesn't add a slash.

Publisher is launched like this ( doesn't matter if I add namespace or not ):

Node(package='robot_sta

[2020-01-22 02:32] tfoote commented on #219
There should not be a slash. Please file this against robot_state_publisher.

[2020-01-22 09:28] ahcorde commented on #42
https://github.com/ros2/geometry2/pull/203

[2020-01-22 10:40] ahcorde commented on #168
PR https://github.com/ros2/geometry2/pull/222

[2020-01-22 13:18] clalancette commented on #219
I'm moving this over to robot_state_publisher, but I'm not convinced it is a problem in code.  In the end, robot_state_publisher just parses the URDF and gets the frame names from that; it doesn't add any slashes on its own (I don't think).  What does your URDF look like?

[2020-01-22 13:19] clalancette commented on #219
Oh, actually, I can't transfer issues across organizations.  So I'll close this out; I'd suggest posting to answers.ros.org for a solution, and if you still think it is a bug after that, opening a bug against https://github.com/ros/robot_state_publisher.

[2020-01-22 13:19] #219 closed, assigned to nobody

[2020-01-30 16:28] ivanpauno commented on #212
@ahcorde can you add a link to the failing CI test?
Can this be assigned to you?

[2020-01-30 16:41] ahcorde commented on #212
The complete log is here: https://ci.ros2.org/job/ci_linux/8938/console

[code]

Sure, you can assign me this task

[2020-01-30 16:51] ivanpauno commented on #212
Thanks!

[2020-01-31 10:01] maxlein commented on #213
Seems this is happening when buffer is full.
Then signalFailure() is crashing because the message is NULL.

https://github.com/ros2/geometry2/blob/f1b00a4e95a8d97aa668351a297dc953c9d18d06/tf2_ros/include/tf2_ros/message_filter.h#L420-L426

[2020-01-31 15:53] ahcorde opened #228 "tf2 test: Differences between ci.ros2.org and build.ros2.org"
Similar to this other issue https://github.com/ros2/geometry2/issues/212. there are some tests which are working in [ci.ros2.org](http://ci.ros2.org) and not in [build.ros2.org](http://build.ros2.org)

CI build https://ci.ros2.org/job/ci_linux/9134/

In the CI the tests are passing:

[code]

But in build.ros2.org a timeout has raised

[code]

[2020-01-31 17:11] ahcorde commented on #228
CI job https://ci.ros2.org/job/ci_linux/9134/
Build job: http://build.ros2.org/job/Epr__geometry2__ubuntu_bionic_amd64/88/console

[2020-01-31 18:29] jacobperron commented on #213
Hmm.. glancing at the code, it doesn't look like we're locking access to `messages_` everywhere we should be, for example:

https://github.com/ros2/geometry2/blob/f1b00a4e95a8d97aa668351a297dc953c9d18d06/tf2_ros/include/tf2_ros/message_filter.h#L434

https://github.com/ros2/geometry2/blob/f1b00a4e95a8d97aa668351a297dc953c9d18d06/tf2_ros/include/tf2_ros/message_filter.h#L495

Just a shot in the dar

[2020-01-31 19:24] jacobperron commented on #213
I'm not able to reproduce any crashes. I tried playing around with Rviz and the [dummy laser scanner](https://github.com/ros2/demos/tree/master/dummy_robot) (after looking at #485), but everything looks fine on my end. Are you able to reproduce the Rviz crash reliably? And if so, can you try changing the dummy robot code to match your setup to help me reproduce the issue?

[2020-01-31 21:26] maxlein commented on #213
Reproducing reliably is a bit of a problem.
If you see messages like `message dropped for unknown reason` then you are on a good way.

The last times I got this, was with the global planner of nav2 stack. ( We got the error on live system and with gazebo )
In detail the planner_server is crashing. You could set the QoS depth in the costmap from 50 to 1, then the message dropouts will increase and

[2020-02-03 12:02] maxlein commented on #213
I tried with dummy sensors code and I also get a crash:
Just changed laser rate to 100Hz and let it run for about an hour.

[code]

[2020-02-03 20:05] Karsten1987 opened #230 "use target_include_directories"
## Bug report

Same thing as https://github.com/ros-perception/laser_geometry/issues/53

Instead of using global `include_directories`, use `target_include_directories`. Also it seems to me as if the `CMakeLists.txt` should be cleaned up in general for this repo.

I'll open a PR for this shortly.

[2020-02-04 23:53] jacobperron opened #232 "[test_tf2] Build fails if testing is disabled"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04 and Ubuntu 20.04
- Installation type:
  - source
- Version or commit hash:
  - f1b00a4e95a8d97aa668351a297dc953c9d18d06

#### Steps to reproduce issue
[code]

#### Expected behavior

Builds (or not) without error.

#### Actual behavior

colcon reports error:

[code]

Error also shows up on buildfarm CI job for Foxy: http://bui

[2020-02-05 01:45] #232 closed, assigned to jacobperron

[2020-02-06 12:55] maxlein commented on #213
Any news on this?

[2020-02-06 17:35] jacobperron commented on #213
I ran a modified dummy sensors laser publisher and RViz all night and didn't see a crash. I did see many "message dropped" logs. I had compiled with debug symbols. I'll try again without them.

[2020-02-06 20:07] maxlein commented on #213
Seems I didn‘t write that I tried with eloquent deb package and branch sources.
But from what I saw, the affecting parts are same.
And cyclonedds.
If I can help you somehow, just tell me.

[2020-02-07 17:08] jacobperron commented on #213
I've also tried eloquent debs, but using the default rmw implementation (Fast-RTPS), still no segfault. Is it also happening with Fast-RTPS too?

When you run RViz, can you see the laser scans or are they not rendering?

[2020-02-10 16:17] #230 closed, assigned to nobody

[2020-02-12 09:59] hsd-dev opened #236 "transformPose is not supported in python?"
Seems like `transformPose` method is still not implemented in python for Eloquent.
For ROS(1), it was implemented in [listener.py](https://github.com/ros/geometry/blob/melodic-devel/tf/src/tf/listener.py#L286) (which uses `tf2_ros` under the hood) which uses [transformations.py](https://github.com/ros/geometry/blob/melodic-devel/tf/src/tf/transformations.py) (which mainly depends on `numpy`). How

[2020-02-12 15:41] clalancette commented on #236
`transformPose` is a legacy API in `tf`, which has long been deprecated in favor of `tf2`.  In ROS 2, we've removed `tf` completely and just have `tf2`.

However, if I understand properly, the functionality you are looking for exists in the `tf2` python layer.  Basically you need to create a BufferInterface object, and then call `transform` on it, which I think will do what you are looking for.  S

[2020-02-12 15:41] #236 closed, assigned to nobody

[2020-02-13 05:20] SteveMacenski opened #237 "ROS2 TF2: Severing the fork"
Hi,

This may be a bit of a weird request. I'm someone that occasionally uses the GitHub search functionality to find function signatures and quickly track down implementations. With Forks in GitHub, this functionality is disabled and only searches the parent repository. Given that there are some changes, it would be nice if that functionality was restored.

If you email the GitHub folks, they'll

[2020-02-13 14:20] ipa-hsd commented on #236
Sorry but seems like the necessary package is not ported yet?
https://github.com/ros2/geometry2/blob/eloquent/tf2_geometry_msgs/CMakeLists.txt#L31

[2020-02-14 11:55] hsd-dev commented on #236
For your reference: https://answers.ros.org/question/344028/transform-pose-in-tf2/

[2020-02-18 12:42] ahcorde commented on #168
excluded `ament_copyright` and `ament_cpplint`

I have seen that bsd 3 was included, but I need to make changes (reformat the license) in the header to pass `ament_copyright` and `ament_cpplint`

https://github.com/ament/ament_lint/blob/master/ament_copyright/ament_copyright/template/bsd_3clause_header.txt

[2020-02-21 02:50] relffok opened #240 "echo / monitor causes delay with warning messages"
## Bug report

**Required Info:**

- Operating System:
Ubuntu 18.04
- Installation type:
Binaries & source
- Version or commit hash:
c95466b

#### Steps to reproduce issue

Publish static transformation
[code]

1) start ` tf2_monitor`
[code]
or

2) start ` tf2_monitor`
[code]

or

3) echo transform with` tf2_echo`
[code]

#### Expected behavior
Transforms are shown after a short delay

#### Actual

[2020-02-28 13:55] gleichdick opened #242 "Change signature of tf2::fromMsg() and tf2::toMsg() to prevent linking errors."
## Feature request

Make all overloads of `fromMsg()` and `toMsg()` template specializations (with `template<>`)

#### Feature description

As pointed out in ros/geometry2#430, the `fromMsg()` and `toMsg()` Methods are traditional overloads (same function name, different arguments) and not a specialization of the templated forward declarations in `<tf2/convert.h>`. So, sometimes the compiler choos

[2020-03-02 14:54] clalancette commented on #237
For what it's worth, I agree with this; they are now separate repositories.  So I'm happy to sever them.  I'd like to get approval from Tully before doing it, however.  @tfoote , thoughts?

[2020-03-02 19:23] SteveMacenski commented on #237
FYI, this is the place to do it: https://support.github.com/contact

The right words they look for are "detach fork" and they'll want to know what name you want it under (the same).

[2020-03-16 17:16] clalancette commented on #6
This was actually done a while ago, so closing this out.

[2020-03-16 17:16] #6 closed, assigned to nobody

[2020-03-16 17:17] clalancette commented on #42
This was fixed by #203, so closing.

[2020-03-16 17:17] #42 closed, assigned to ahcorde

[2020-03-17 21:30] ScottMcMichael opened #244 "Seg fault constructing tf2_ros::BufferClient with empty pointer"
## Bug report

**Required Info:**

- Operating System:  Ubuntu 18.04
- Installation type: Binary
- Version or commit hash: Build 1786

#### Steps to reproduce issue

rclcpp::Node::SharedPtr nh;
tf2_ros::BufferClient client(nh, "client");

#### Expected behavior

Some sort of error message

#### Actual behavior

Seg fault

[2020-03-25 22:05] tfoote commented on #237
The codebase has definitely diverged. Optimally we'd merge back as in the end there will only be one maintained version and having an archived older version will lead to confusion but there's enough outstanding prs and issues that switching will be painful too so probably just detaching and maintaining the status quo makes sense.

[2020-03-26 12:29] clalancette commented on #237
All right, thanks for the feedback @tfoote .  I'll go ahead and open a ticket with Github.

[2020-03-26 14:45] clalancette commented on #237
This is now done.  I actually don't know if it is possible to link to a Github support ticket, but for reference this is ticket 615982 .  Thanks @SteveMacenski for bringing it up.

[2020-03-30 17:53] hidmic commented on #244
This problem isn't actually related to `tf2_ros` but a result of an incomplete `rclcpp` API and it not checking for node nullity consistently. See https://github.com/ros2/rclcpp/pull/1035. CC @Karsten1987 .

[2020-04-11 23:26] Michael-Equi opened #249 "tf2/impl/utils.h:114:2: warning: extra ‘;’ [-Wpedantic] }; when building with tf2"
Minor warning when building with tf2 in an rclcpp package using ROS2 eloquent on Ubuntu 18.04. This should be a minor fix in just tidying up the tf2/impl/utils.h. It seems to have an issue at lines 114 and 148.

[2020-04-13 23:05] dirk-thomas commented on #249
Duplicate of #235.

[2020-04-13 23:05] #249 closed, assigned to nobody

[2020-04-17 20:37] tfoote opened #252 "Tracking issue for windows test failures"
This is an issue to track windows test failures.

MessageFilter.tolerance test is failing with:
`2: unknown file: error: C++ exception with description "No such file or directory" thrown in the test body.`

https://ci.ros2.org/job/ci_windows-metal/9/testReport/

https://ci.ros2.org/job/ci_windows-metal/9/testReport/(root)/projectroot/test_message_filter/
<details>

[code]

</details>

The unit tes

[2020-04-17 23:26] brawner commented on #252
Both of these are resolved by: https://github.com/ros2/geometry2/pull/253

[2020-04-17 23:29] brawner commented on #252
Has the issue about TF stderr printouts been ticketed somewhere for Windows? The buffer core test causes MSBuild warnings. Whatever jenkins is doing to find msbuild warnings should restrict things to build output right?

Example of what I mean: https://ci.ros2.org/job/ci_windows/10191/

[2020-04-20 18:17] dirk-thomas commented on #237
@clalancette Please follow up on clarifying the branches in this repo. Currently there is a `master` branch as well as a `ros2` branch. One of them should be removed imo.

[2020-04-21 00:20] sloretz commented on #240
Thanks for the report @relffok !

It doesn't look like the transform data is delayed by `tf2_monitor`; instead the program is intentionally gathering messages for 10 seconds so it can report statistics on it. I was not able to reproduce a delay in `tf_echo`, though it does output a lot of useless warning messages. Both issues should be resolved by #254 which improves the console output of these to

[2020-04-21 18:43] #240 closed, assigned to sloretz

[2020-04-22 20:13] hidmic commented on #244
@ScottMcMichael with https://github.com/ros2/rclcpp/pull/1069 in, this is now fixed. Thanks for reporting.

[2020-04-22 20:13] #244 closed, assigned to Karsten1987

[2020-04-28 15:12] ahcorde opened #259 "Improvements in tf2 (related with documentation and style)"
As discussed in this PR https://github.com/ros2/geometry2/pull/258 there is some work to be done in tf2

 - [ ] Rename all .h -> .hpp files. This will have to also have a deprecation warning, and should be done post-Foxy.
 - [ ] Go through the comments (particularly API comments) and fix the ones that say todo.
 - [ ] Go through the comments and use a common Doxygen style (some of the comments use

[2020-04-30 11:07] AndreasAZiegler opened #261 "tf2_ros::TransformBroadcaster linker error"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18 (Bionic)
- Installation type:
  - binaries
- Version or commit hash:
  - eloquent
- DDS implementation:
  - RTI Connex
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

CMakeLists.txt
[code]
transform-broadcaster.cpp
[code]
Try to build it with
[code]

#### Expected behavior
Build suceeds

#### Actual b

[2020-05-07 13:32] hidmic commented on #261
@AndreasAZiegler I'd think `tf2_ros` should be included in the `ament_target_dependencies()` call.

[2020-05-28 20:22] clalancette opened #268 "Foxy: Cannot overlay tf2_ros over existing tf2_ros"
## Bug report

If you want to put a custom function into one of the geometry2 packages (let's say tf2 for the sake of this example), the obvious thing to do is to install Foxy (either from debs or the fat binary), then make a workspace with `geometry2` in it that has your custom code.  The expectation here is that the custom version of geometry2 will overlay the binary installed version.  However,

[2020-05-28 20:33] clalancette commented on #268
Interestingly, this does not seem to be a problem in from-source builds.

[2020-05-29 14:38] clalancette commented on #268
Doing some additional testing, this also doesn't work totally right on Eloquent either.  The place where it fails is different, but it fails in similar ways (with similar g++ command-lines).  So this isn't a regression, though it is a problem people are running into.

[2020-05-29 17:30] dirk-thomas commented on #268
Are you using a merged install or the default isolated? For the latter I would expect the problem to not show up since include directory ordering is not a problem if each include dir is a separate path anyway.

[2020-05-29 17:39] clalancette commented on #268
Default isolated.  But what I don't understand is why the situation would be different there.  How does ament "know" that it should put the include directory path to the overlay before the underlay?  In other words, how does it know it should do:

`g++ -Ipath/to/overlay/install/tf2/include -Ipath/to/underlay/install/tf2/include`

rather than:

`g++ -Ipath/to/underlay/install/tf2/include -Ipath/to/

[2020-05-29 17:52] dirk-thomas commented on #268
In a merged install all headers are in the same include dir `ws/install/include. For an isolated install each package has a separate include dir.

Based on the order of the paths in `AMENT_PREFIX_PATH`. For merged installs it only contains a single entry - for isolated installs each package contributes an entry.

[2020-05-29 17:58] clalancette commented on #268
OK.  So fundamentally I think the problem is when you mix a merged install and an isolated installed.  That is, when installing from debians, you essentially get a merged install as everything is under `/opt/ros/foxy/include`.  If you then try to build on top of that with an isolated environment, as soon as you do `ament_target_dependencies` for anything in that merged install, then you get your f

[2020-05-29 18:02] dirk-thomas commented on #268
I highly doubt that. Each workspace / prefix path exists independent of each other.

Maybe post the compiler command line when building `buffer.cpp`.

[2020-05-29 18:11] clalancette commented on #268
It's in the original comment.

I will point out that if I remove all dependencies except for `tf2` from https://github.com/ros2/geometry2/blob/a0cd9d73241edd25b94aa13a535c1bd2e6be1aeb/tf2_ros/CMakeLists.txt#L39, then the compile of buffer.cpp works.  This is obviously wrong for other reasons, but I think it illustrates my point; once we find a dependency in the underlay, it puts `/opt/ros/foxy/inc

[2020-05-29 19:19] dirk-thomas commented on #268
Sorry, I missed that:

Debugging what `ament_include_directories_order()` is doing when called by `ament_target_dependencies()`...

The only include directory added with `target_include_directories()` is `/opt/ros/foxy/include` (I guess coming from the `message_filters` package which doesn't use modern CMake yet - so updating that package should fix the problem but that is not what we are looking

[2020-06-05 04:19] dirk-thomas commented on #268
I just gave this use case another try. I still fails with Foxy and still passes with ament/ament_cmake#260 for me.

[2020-06-09 12:13] AndreasAZiegler commented on #261
@hidmic Thanks, that indeed solved this problem.

[2020-06-09 12:17] #261 closed, assigned to nobody

[2020-06-10 20:05] clalancette commented on #242
There are a few problems with this proposal:

1.  We've tried to do something like this in the past, and it led to a lot of downstream breakage (as you might imagine).  This doesn't automatically disqualify it, but I'd like to use that experience to know what we are getting ourselves into.
1.  Looking at https://github.com/ros/geometry2/pull/433, I have to say that the API is strictly worse.  Havi

[2020-06-11 16:44] dirk-thomas commented on #237
@clalancette Friendly ping.

[2020-06-11 18:09] clalancette opened #275 "Add :type: and :rtype: annotations to tf2_ros_py code"
This is a follow-up ticket to https://github.com/ros2/geometry2/pull/210 .  There, we split the tf2_ros python code out of the main tf2_ros code and into its own package.  While reviewing that code, @ahcorde noticed that the docblocks for each method are missing the `:type:` and `:rtype` annotations.  These would be nice to document for a little better documentation.

[2020-06-15 17:36] clalancette commented on #237
After discussing with @tfoote , we decided to keep the `ros2` branch as the main development branch, and get rid of the `master` branch.  I've now done that, along with removing a bunch of branches that either didn't pertain to ROS 2 (like groovy-devel, etc), or that were stale.

[2020-06-15 17:36] #237 closed, assigned to clalancette

[2020-06-17 18:49] #268 closed, assigned to clalancette

[2020-06-22 10:23] pschalkwijk commented on #200
I've had the same error, and the same memory increase when using nav_amcl for ROS2. After adding a transform tolerance time on the lookupTransform in question, I still have a memory increase over time, without getting the exception mentioned here. I don't think the exception is the cause.

[2020-06-22 18:21] clalancette opened #278 "Add BUILD_TESTING to test_tf2 package"
The entire `test_tf2` CMakeLists.txt should really be wrapped in a `BUILD_TESTING` conditional.  That way, if source users are building with testing disabled in cmake, nothing in this package will be built.  Pointed out in https://github.com/ros2/geometry2/pull/277#discussion_r443738674

[2020-07-18 18:20] michael1309 opened #285 "PyKDL ModuleNotFoundError: No module named 'PyKDL' by importing import tf2_geometry_msgs"
## Bug report

**Required Info:**

- Operating System:
  - Windows 10
- Installation type:
  - ROS2 Foxy Release
- Version or commit hash:
  - Official Build
- DDS implementation:
  - Default Setup
- Client library (if applicable):
  -

#### Steps to reproduce issue
I tried to import import tf2_geometry_msgs in a python script.
[code]

The software chrashes with the following error message:
[code]

[2020-07-21 14:23] dawonn-haval opened #286 "Remove / from parameter names"
https://github.com/ros2/geometry2/blob/7b0187f57d1d4f845601a774b609660af1dc92ba/tf2_ros/src/static_transform_broadcaster_node.cpp#L75

This may be to be unintentional, since it requires a param file to be written like this:
[code]

I think at least removing the first / is a good plan.

I _think_ that if the second / is replaced with a '.' it would enable a more common flow:
[code]

[2020-07-21 14:53] clalancette commented on #286
Yeah, you are totally correct, that is unintentional.  The second example for the parameters file is how it should be.  Do you mind opening a pull request with that change?

[2020-07-22 05:25] jacobperron commented on #169
I think this was done in #210. Re-open if I'm mistaken.

[2020-07-22 05:25] #169 closed, assigned to nobody

[2020-07-22 12:27] clalancette commented on #169
Yep, you are right, thanks for closing it out!

[2020-07-24 15:38] mjcarroll opened #289 "Centos Bullet version triggers compilation warnings"
## Bug report

**Required Info:**

- Operating System:
  - CentOS CI (7)
- Installation type:
  - Source
- Version or commit hash:
  - master

#### Steps to reproduce issue

Nightly CentOS builds have an additional compiler warning that is turning the build yellow.

Example Job: https://ci.ros2.org/view/nightly/job/nightly_linux-centos_debug/480/

Ouput:

[code]

#### Additional information

Newer

[2020-07-28 20:50] Stapelzeiger opened #292 "static_transform_publisher argument order"
## Bug report

**Required Info:**

- Operating System:
  - any
- Installation type:
  - binaries
- Version or commit hash:
  - Foxy patch 1
- DDS implementation:
  - any
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue
run the following:
[code]

#### Expected behavior
child frame is rotated in yaw:
[code]

#### Actual behavior
child frame is rotated in roll:
[code]

#### Ad

[2020-07-28 23:00] allenh1 commented on #292
Yeah, that is definitely what happened. This change was first released for Foxy, so it wouldn't have appeared in Eloquent. Apologies for almost killing your bot :upside_down_face:.

This was completely unintentional, so I made a pull request (see #294) to fix it.

In the meantime, you might try using the component version (which was the main feature I meant to introduce with that PR). For the comp

[2020-07-28 23:01] #289 closed, assigned to nobody

[2020-07-31 22:15] Stapelzeiger commented on #292
Great. Thanks. I'll open a PR for the tf2 tutorial to match this.

[2020-08-03 14:29] clalancette commented on #292
Thanks for reporting this bug.  I'm sorry I missed it in the review.

Unfortunately, this puts us in a really unfortunate spot, since we are going to be inconsistent no matter what we do.  The options
as I see them:

1.  Fix Foxy to be like Eloquent and Dashing.  This gets us consistency, but we risk breaking anyone who has already started to port to Foxy.
1.  Declare the new argument order to be

[2020-08-04 01:23] allenh1 commented on #292
Honestly, I think this is a testament to how unintuitive the original ordering is... After @Stapelzeiger  reported this issue, I remembered pretty quickly how many times this bit me in ROS 1.

I think this ordering of the arguments is an artifact of an older tf/tf2 implementations which used `SetYPR` (which, if memory serves me, is deprecated/removed as of quite a while ago -- @tfoote please corre

[2020-08-04 04:55] Stapelzeiger commented on #292
Option 2 might bring more confusion in the future, since Dashing and Eloquent are still using the previous order and most importantly so does ROS1 where a lot (most?) of people are still stuck and will be porting their robots from in the future.
People don't expect argument orders to change (especially if the arguments are 6 numbers in a row).

I don't see the order of option 2 more intuitive than

[2020-08-04 13:47] allenh1 commented on #292
This could just be my perspective, if people are more familiar with the YPR ordering then let's certainly do that.

I figured it might be useful to consider the ordering found within [REP-103](https://www.ros.org/reps/rep-0103.html#rotation-representation) in this discussion as well.

Thinking on it further, however, I support both 2 and 3, but lean towards 2 because it is already released. Option

[2020-08-04 14:16] clalancette commented on #292
Yeah, my intention here would be to roll it out a little more slowly.

That is, we would implement the `--roll`, `--pitch`, `--yaw` options in addition to what is already there (there's some details to be figured out about what happens if both the old-style and new-style are specified, but we can work through it).  Then we mark the "old" command-line options as deprecated (with a warning) for Gala

[2020-08-04 14:21] allenh1 commented on #292
Yes, I'll start on it once you and the ROS 2 team reach a consensus.

[2020-08-04 17:40] clalancette commented on #292
All right, the consensus is to go back to the ordering that was in Dashing and Eloquent.  This also preserves the format that was used in ROS 1, so it should make ports easier.  @Stapelzeiger, sorry to say that you'll have to change your code again, but I think this is the best way forward overall.

With that said, I'm going to go review https://github.com/ros2/geometry2/pull/294 .  Once that is a

[2020-08-04 17:44] allenh1 commented on #292
Nope, all good from me :+1:

[2020-08-04 18:21] Stapelzeiger commented on #292
I like option 1, but no strong preference.

I would very much like to see a `--roll_deg` family of options as well for angles in degrees.

[2020-08-04 19:07] #292 closed, assigned to nobody

[2020-08-04 19:16] clalancette opened #295 "static_transform_publisher more intuitive command-line arguments"
## Bug report

The order of command-line arguments in the `static_transform_publisher` program is hard to remember and follow.  This led directly to the problem described in https://github.com/ros2/geometry2/issues/292.  It would be better if the command-line arguments were much more specific so there is no ambiguity.  We discussed this in https://github.com/ros2/geometry2/issues/292#issuecomment-

[2020-08-04 19:16] clalancette commented on #292
FYI, I've opened up #295 to track the ongoing work on this issue.

[2020-08-05 04:29] jackli-gatik opened #298 "Deleted"

[2020-08-06 17:33] sloretz commented on #285
It looks like the `python_orocos_kdl` package has not been ported to ROS 2 yet. It has an `AMENT_IGNORE` file in the package that will prevent it from being built.

https://github.com/ros2/orocos_kinematics_dynamics/blob/foxy/python_orocos_kdl/AMENT_IGNORE

The python part of `tf2_geometry_msgs` has also not been ported.

https://github.com/ros2/geometry2/blob/7b0f16f4246d7fc5d53668e7f479aa1d2df29

[2020-08-06 21:23] #285 closed, assigned to sloretz

[2020-08-10 12:12] #286 closed, assigned to clalancette

[2020-08-10 16:10] #298 closed, assigned to nobody

[2020-08-11 15:46] nuclearsandwich opened #305 "test_tf2.MessageFilter.concurrentTransforms test is flaky on arm64"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - Source
- Version or commit hash:
  - 52268361184ebf121f4a5df511805b6801ae5c64
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclcpp

#### Recent builds exhibiting the failure

* [nightly_linux-aarch64_debug #1277](https://ci.ros2.org/view/nightly/job/nightly_linux-aarch64_deb

[2020-08-12 15:20] clalancette commented on #305
I found a TOCTTOU bug in tf2.  Patch coming up as soon as I've done a bit more testing.

[2020-08-13 12:23] #305 closed, assigned to clalancette

[2020-08-13 13:23] clalancette commented on #252
I believe all of the issues identified here are now resolved, so I'm going to close this out.  Feel free to reopen if I'm in error.

[2020-08-13 13:23] #252 closed, assigned to nobody

[2020-08-13 13:27] clalancette commented on #213
@maxlein I believe that this was resolved with the merging of #279 .  Is there any chance you can test out the latest code on master and see if it is now fixed for you?  Thanks.

[2020-08-13 13:27] clalancette commented on #200
@maxlein I believe that the memory leak is now fixed with the merging of #281.  Would you mind testing the latest code from master and seeing if it is fixed for you?  Thanks.

[2020-08-13 13:32] clalancette commented on #150
I believe this was fixed by #151, so I'm going to close this.  If that's not the case, please feel free to reopen.

[2020-08-13 13:32] #150 closed, assigned to nobody

[2020-08-13 13:33] clalancette commented on #168
Fixed by #222 , so closing.

[2020-08-13 13:33] #168 closed, assigned to ahcorde

[2020-08-13 13:38] clalancette commented on #212
Looking at the latest [nightlies](https://ci.ros2.org/view/nightly/job/nightly_linux_release/1639/), it doesn't look like this is a problem anymore.  I'm going to close this out, but feel free to reopen if you think it is still a problem.

[2020-08-13 13:38] #212 closed, assigned to ahcorde

[2020-08-13 13:41] clalancette commented on #228
This looks like it is still somewhat a problem in Eloquent PR jobs, but the Rolling PR jobs haven't failed in over a week: http://build.ros2.org/view/Rpr/job/Rpr__geometry2__ubuntu_focal_amd64/ .  I'm going to close this out, but feel free to reopen if you think this is still a problem.

[2020-08-13 13:41] #228 closed, assigned to nobody

[2020-08-13 23:27] JWhitleyWork opened #310 "Add WithCovarianceStamped message support to tf2_geometry_msgs"
## Feature request

#### Feature description
Especially in localization systems, covariance is king. Unfortunately, there are no convenience features to transform a WithCovarianceStamped-based message in `tf2_geometry_msgs` from one frame to another (only the Stamped versions). The only relevant message of this type that I care about at the moment is PoseWithCovarianceStamped but others might be w

[2020-08-14 06:59] maxlein commented on #200
Great to hear.
But unfortunately I don't have the resources right now to set up a source branch from master.
Right now we are working on foxy debs.

[2020-08-14 13:04] clalancette commented on #310
It seems reasonable to me.  @tfoote any thoughts?

[2020-08-14 21:43] tfoote commented on #310
Yeah, covariances should be able to have canonical transformations. A contribution to extend the transform datatypes would be appreciated.

[2020-08-17 19:01] JWhitleyWork commented on #310
@tfoote Question related to this: There are currently functions in `tf2_geometry_msgs` which imply the following equivalencies:

- `geometry_msgs::msg::Transform` == `tf2::Transform`
- `geometry_msgs::msg::TransformStamped` == `tf2::Stamped<tf2::Transform>`
- `geometry_msgs::msg::Pose` == `tf2::Transform`

However, the following equivalencies are missing:

- `geometry_msgs::msg::PoseStamped` == `t

[2020-08-17 19:28] JWhitleyWork commented on #310
Nevermind. It looks like creating that last equivalency isn't possible because of how `tf2_geometry_msgs` utilizes template deduction. I'll just define the `doTransform` function and be done with it.

[2020-08-29 00:44] surfertas commented on #275
@clalancette @ahcorde Hi, I can work on this, but wanted to see if the preference was to use `:type:` and `:rtype` annotations, or use type hints as what is seen at [rclpy/node.py](https://github.com/ros2/rclpy/blob/master/rclpy/rclpy/node.py) .

[2020-08-31 12:18] clalancette commented on #275
@surfertas Thanks for the offer!

You make a good point; it is probably a good idea to use the type hints instead to be compatible with what rclpy is doing.  If you are up for that, please feel free to go ahead and do it and open a pull request.

[2020-08-31 13:14] surfertas commented on #275
@clalancette Yes, thanks will work on this and open a PR once complete. Thanks.

[2020-08-31 18:51] JWhitleyWork commented on #310
@clalancette and/or @tfoote - Can one of you have a look at #312?

[2020-09-10 12:35] surfertas opened #316 "Reconsider the function signature of `set_transform()` and `set_transform_static()`"
@sloretz Should the signature of `set_transform()` and `set_transform_static()` be respectfully:

[code]

I ask as I see that the function signature at https://github.com/ros2/geometry2/blob/a4f152f67d09b50d6d6450bb00c44512e52a880c/tf2_py/src/tf2_py.cpp#L656 and also see that `PyArg_ParseTuple()` is used as opposed to `PyArg_ParseTupleAndKeywords()`

_Originally posted by @surfertas in https://git

[2020-09-10 12:39] surfertas opened #317 "Fix TransformBroadcaster to have a None qos by default, and construct the object inside of the method (like we do with StaticTransformBroadcaster and TransformListener)"
The constructor for `StaticTransformBroadcaster` and `TransformListener` both have qos as an `Optional[Union[QoSProfile, int]]` type and handle `None`. While `TransformBroadcaster` qos is not `Optional` and does not handle the `None` case.

Originally posted by @surfertas in #315

[2020-09-10 12:43] surfertas opened #318 "Fix up lookup_transform to take the right type for the time argument.."
The `time` argument in `lookup_transform()` expects `rclpy.time.Time` and the function should convert this to an object of type `builtin_interfaces.msg.Time` before passing to `goal.source_time`.

clalancette: "Unfortunately, this looks like it is going to be tricky to fix now.  The problem is that some users of the API may already be passing in a `builtin_interfaces.msg.Time`, and thus changing t

[2020-09-10 13:29] surfertas commented on #317
On further inspection, the `None` case is eventually handled in the call to `create_publisher()`

https://github.com/ros2/rclpy/blob/a37c01511324c1e3e57bc47a7e1286bf79514c60/rclpy/rclpy/node.py#L1086

[2020-09-10 13:32] clalancette commented on #317
Yeah, I kind of figured that was the case.  Nevertheless, its probably a good idea to make all of the APIs at this level behave the same, so I still think this is a good thing to do.

[2020-09-10 13:35] surfertas commented on #317
Understood. I will work on this. Thanks.

[2020-09-11 21:20] sloretz commented on #316
Yeah, I think you're right that there doesn't need to be a `**kwargs`. [It's only using positional arguments](https://docs.python.org/3/c-api/arg.html#c.PyArg_ParseTuple). I assume it's using `*args, **kwargs` to pass through args without duplicating knowledge of what `set_transform()` and `set_transform_static()` take, but if there are now type hints I think that's no longer relevant. With the ty

[2020-09-12 01:18] surfertas commented on #275
@clalancette Ok to close? Thanks.

[2020-09-12 09:25] surfertas commented on #316
@sloretz Noted. Will take care of this and create a PR.

[2020-09-14 12:22] clalancette commented on #275
Yep, I forgot to close it, thanks.

Just as an FYI, if you put something like "fixes #275" in the description of your PRs, the associated issue will get automatically closed when the PR is merged.  Not a huge deal, but makes it so we don't forget things like this :).

[2020-09-14 12:22] #275 closed, assigned to nobody

[2020-09-14 12:33] surfertas commented on #275
Got it thanks a lot for the information.

[2020-09-14 14:41] #317 closed, assigned to nobody

[2020-09-14 16:38] #316 closed, assigned to nobody

[2020-09-15 13:18] surfertas commented on #310
@clalancette Kind reminder to review if this can be closed.

[2020-09-15 13:21] clalancette commented on #310
Thanks for the ping; now that #312 is merged, I think we can close this.

[2020-09-15 13:21] #310 closed, assigned to nobody

[2020-09-15 14:28] #318 closed, assigned to nobody

[2020-10-03 12:49] surfertas opened #327 "Provide a way to timeout waiting for transforms that doesn't block the executor when looking up transforms."
We can not call the `sleep` method from `timer.Rate` object in a callback in a `SingleThreadedExecutor` as indicated in [#443](https://github.com/ros2/rclpy/pull/443)

As a result we can not initialize a `Rate` object and use the `sleep` method in place of `time.sleep` currently used as follows.

https://github.com/ros2/geometry2/blob/4a5001230cc74aa8674ab88f6a1e5e2f76bdd5c2/tf2_ros_py/tf2_ros/buf

[2020-10-09 00:38] Michael-Equi opened #329 "tf2_py build error when building ROS2 foxy from source"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - Source
- Version or commit hash:
  - 64d46d6

#### Steps to reproduce issue
Follow the instructions [here](https://index.ros.org/doc/ros2/Installation/Foxy/Linux-Development-Setup/) on ubuntu 18.04 (in my case using a Jetson Nano).

#### Expected behavior
Colcon build should build tf2_py successfully.

[2020-10-10 17:51] allenh1 commented on #295
@clalancette Starting on this now, but I'm wondering how you want the translation handled? I feel like it's appropriate to add `--x [value] --y [value] --z [value]` (certainly makes the implementation easier, since I can assume things are in pairs), but I also feel like it's kinda silly to do so.

Would you prefer to have a `--translation x y z` or `--xyz x y z`?

Also should `--frame-id frame` an

[2020-10-11 13:30] clalancette commented on #295
I think we should make translation follow the same pattern as the rotation for consistency.  Thus, I would go with `--x`, `--y`, `--z` here.

Yeah, I think so.

---
There's a couple of things I failed to think about in the original description.

1.  What happens if the user specifies *no* rotation or *no* translation?  In that case, I think we should assume the identity transformation.
1.  What ha

[2020-10-12 14:05] clalancette commented on #329
Thanks for the report.

I think this is another instance of https://github.com/ros2/console_bridge_vendor/pull/25 .  @ahcorde would you mind doing a backport to Foxy?

[2020-10-12 15:14] allenh1 commented on #295
I would expect things to work with just `--x [value]` and no `--y` or `--z` specified, but I see where you're coming from. Maybe a warning should be printed?

[2020-10-12 15:42] clalancette commented on #295
Yeah, that's reasonable.  Since this is going to be pretty verbose, I think we want to allow people to specify the minimum.  I'm just wary of surprises, but in this case I think people will generally assume identity plus whatever they specified.

I wouldn't suggest a warning, but maybe something informational.  Like:

[code]

(you can probably come up with some better wording than that)

[2020-10-12 17:30] ahcorde commented on #329
Backported https://github.com/ros2/console_bridge_vendor/pull/26

[2020-10-15 22:56] Michael-Equi commented on #329
I pulled the latest version of console_bridge_vendor and rebuilt tf2_py. I am getting the same build error.

[2020-10-16 02:42] Michael-Equi commented on #329
When I checkout the eloquent branch of this repository tf2_py builds fine.

[2020-10-16 13:37] clalancette commented on #329
For what it is worth, this builds fine for me on 18.04 (amd64 in my case).  Have you tried cleaning your workspace (`rm -rf build install log`) and building again?

[2020-10-16 19:04] Michael-Equi commented on #329
That worked, I think I had to rebuild tf2 and tf2_ros to again specifically.

[2020-10-16 19:04] #329 closed, assigned to ahcorde

[2020-10-16 19:27] clalancette commented on #329
Great, thanks for retesting.

[2020-10-21 21:50] clalancette commented on #185
Closing due to inactivity.  Feel free to reopen if you'd still like to investigate this issue.

[2020-10-21 21:50] #185 closed, assigned to nuclearsandwich

[2020-10-21 21:51] clalancette commented on #213
I believe that this is solved in the latest code, so I'm going to go ahead and close this.  Feel free to reopen if you run into this again.

[2020-10-21 21:51] #213 closed, assigned to cottsay

[2020-10-30 09:04] mitsudome-r opened #337 "Any plans to support doTransform() with non-stamped message types?"
## Feature request
In ROS1, we used to have doTransforms for message types without Headers, but they are missing in ROS2.
Are there any reasons why will omitted these functions in ROS2?

Example with geometry_msgs/Point
[ROS1](https://github.com/ros/geometry2/blob/noetic-devel/tf2_geometry_msgs/include/tf2_geometry_msgs/tf2_geometry_msgs.h#L722)
[ROS2](https://github.com/ros2/geometry2/blob/ce8f00

[2020-10-30 12:49] clalancette commented on #337
The original commit that added those to https://github.com/ros/geometry2 is [here](https://github.com/ros/geometry2/commit/21e2d9378742116b9ccb7d2e95ed0963e221b231).  That was added after we forked this repository off from that one.

No fundamental objection to having those.  Contributions to add it are very welcome.

[2020-10-30 16:15] rrrand opened #338 "Buffer::lookupTransform hangs with sim time clock"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - binaries
- Version or commit hash:
  - foxy

#### Steps to reproduce issue
Start gazebo and provide parameter use_sim_time value true. Create `tf2_ros::Buffer` with `my_node->get_clock()`.
Then `lookupTransform` hangs because of time check implementation in `canTransform` (https://github.com/ros2/geome

[2020-10-30 20:21] tfoote commented on #338
This will block, but this is doing exactly what you're asking it to do. You're calling a blocking call inside of a specifically constructed single threaded process. If you are forcing things to run single threaded you do need to be careful about knowing what is blocking. You can call the non-blocking version as mentioned in 1) or you can provide a parallel thread to spin and service the other pote

[2020-11-02 06:49] blacksoul000 commented on #338
Maybe at least log a warning? Wrong use of this code is so easy =(
or You can do some checks to avoid it.

[2020-11-08 20:39] AchmadFathoni opened #341 "cmake 3.18.4 compile error regresseion"
## Bug report

**Required Info:**

- Operating System:
  - Arch
- Installation type:
  - source
- Version or commit hash:
  - 0.13.6

#### Steps to reproduce issue
Compiling tf2_eigen, tf2_geometry_msgs, or tf2_kdl using CMake 3.18.4

#### Expected behavior
Successfully compiling.
#### Actual behavior
[code]
#### Additional information
Adding `set(CMAKE_THREAD_LIBS_INIT "-lpthread")` to each CMake

[2020-11-10 17:28] ashwinsushil opened #342 "Build error while using ros-foxy-tf2-geometry-msgs 0.13.6-1focal.20201103.15490"
## Bug report

I am using tf2-geometry-msgs in one of my projects. Upon building using `colcon build`, I get the error show in `Actual behavior`
[code]

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - binaries
- Version or commit hash:
  - 0.13.6-1focal.20201103.15490  (ROS2 foxy)
- DDS implementation:
  - Cyclone
- Client library (if applicable):
  - rclccp

####

[2020-11-10 19:04] asobhy-qnx opened #343 "find eigen3_cmake_module should be before find eigen3?"
in https://github.com/ros2/geometry2/blob/2c31942e9efcad6a0426e69abf89ec421a598a8d/tf2_eigen_kdl/CMakeLists.txt#L13-L14
eigen3_cmake_module needs to be found before eigen3 otherwise eigen3 fails to be found.

[2020-11-10 19:59] clalancette commented on #343
Good point.  We don't see this in CI; I'm not sure why.  Would you mind opening a pull request with that change?

[2020-11-11 12:55] #343 closed, assigned to nobody

[2020-11-11 15:35] clalancette commented on #342
For what it is worth, I can't reproduce this problem here with some packages that depend on `tf2_geometry_msgs`.  Can you give me a link to the code that you are trying to compile?

[2020-11-13 11:36] nnmm opened #346 "`waitForTransform()` doesn't call callback when transform is already available"
## Bug report

**Required Info:**

- Operating System: Ubuntu 20.04
- Installation type: Binaries
- Version or commit hash: Foxy
- DDS implementation: rmw_cyclonedds_cpp
- Client library (if applicable): rclcpp

#### Steps to reproduce issue
I made a simple [test package](https://github.com/nnmm/tf2_example) with one node that sends two transforms and one node that requests a transform that can be

[2020-11-13 11:47] nnmm opened #347 "`waitForTransform()` doesn't respect timeout when `get()` is called on the returned future"
## Bug report

**Required Info:**

- Operating System: Ubuntu 20.04
- Installation type: Binaries
- Version or commit hash: Foxy
- DDS implementation: rmw_cyclonedds_cpp
- Client library (if applicable): rclcpp

#### Steps to reproduce issue
I made a simple [test package](https://github.com/nnmm/tf2_example) with one node that sends two transforms and one node that requests a transform that can be

[2020-11-13 12:01] nnmm opened #348 "`waitForTransform()` throws an exception even though the future should be ready"
## Bug report

**Required Info:**

- Operating System: Ubuntu 20.04
- Installation type: Binaries
- Version or commit hash: Foxy
- DDS implementation: rmw_cyclonedds_cpp
- Client library (if applicable): rclcpp

#### Steps to reproduce issue
I made a simple [test package](https://github.com/nnmm/tf2_example) with one node that sends two transforms and one node that requests a transform that can be

[2020-11-13 13:56] nnmm commented on #342
cc @JWhitleyWork
I have been able to compile packages with dependencies on `tf2_geometry_msgs` as well.

[2020-11-14 22:14] ymd-stella commented on #346
A patch has been proposed to address this issue in https://github.com/orgs/ros2/projects/28.
Please check https://github.com/ros2/geometry2/pull/274.

[2020-11-15 17:25] ashwinsushil commented on #342
@clalancette @nnmm Pls give me a days time and I will create a docker with code that I'm trying to compile.

[2020-11-16 17:19] ashwinsushil commented on #342
@clalancette @nnmm Please see the **Steps to reproduce issue** section in the issue description to reproduce the error. In short, I created a docker image in which you can see this error.

[2020-11-16 17:39] clalancette commented on #342
Did you also edit CMakeLists.txt to have:

[code]

?

[2020-11-16 17:55] ashwinsushil commented on #342
@clalancette  Just added! Updated the docker, but I get the same error.

![image](https://user-images.githubusercontent.com/34656643/99289459-46bf7280-283d-11eb-81b5-e3e0bd3b60af.png)

[2020-11-16 18:30] nnmm commented on #342
I see that behavior in the docker container, but can't reproduce it outside with `minimal_publisher`. I see that there is an overlay workspace with `nav2_` packages in it, could that have anything to do with it?

[2020-11-16 21:25] jacobperron commented on #346
@clalancette or @ahcorde Could one of you take a look at backporting #274 to resolve this issue? Thanks :)

[2020-11-16 22:07] clalancette commented on #342
Ah, that's an interesting point.  Actually, now that I look at the error message more clearly, the problem seems to be that the version of tf2 is out-of-date one way or another.  @ashwinsushil What's the version of `ros-foxy-tf2` that you are using?  Also, does the nav overlay have tf2 in it?

[2020-11-17 11:07] nnmm commented on #342
@clalancette I think you got it right. I looked in the container with `apt list --installed`:

[code]

[2020-11-17 11:08] nnmm commented on #342
@ashwinsushil `sudo apt upgrade` or equivalent should fix the problems you're seeing then.

[2020-11-17 13:22] ashwinsushil commented on #342
@clalancette @nnmm Just updated ros-foxy-tf! You guys are right `ros-foxy-tf2` was not updated. Nice catch! Sorry that I missed it.
Thanks a lot.

[2020-11-17 13:22] #342 closed, assigned to nobody

[2020-11-18 16:18] jespersmith commented on #154
I would like to weigh in on this issue. As a reasonably humanoid robot control system will be able to publish TF's around 250Hz - 1000Hz, the overhead resends can become significant and even take the network down if the depth qos is big. The reliability will come from the frequency instead of resends.

By defaulting to reliable, all tooling breaks when making the publisher best_effort, because too

[2020-11-18 22:12] clalancette commented on #338
I agree that use of this code is somewhat hard to get right.  But it is also hard to log a warning, since you need to know not only that you are in a callback, you also need to know which executor and callback group you are in (we *should* log a warning for the single-threaded executor but we shouldn't necessarily warn for the multi-threaded executor).

I'm going to mark this as "help wanted"; it

[2020-11-24 17:11] gleichdick commented on #242
The following idea came to my mind:

 1. create a templated struct which will contain a message type member for each non-message type
 2. make this the default argument for the second template parameter of `toMsg()`
 3. move the actual conversion between message and non-message types into static struct member functions

With this approach, missing `#includes` are caught at compile-time (because th

[2020-12-01 15:56] esteve opened #350 "Feature request: Port eigen_conversions to ROS 2"
## Feature request

#### Feature description
Port eigen_conversions from https://github.com/ros/geometry/tree/noetic-devel/eigen_conversions to ROS 2

#### Implementation considerations

[2020-12-01 16:06] clalancette commented on #350
This was actually done in #311 .  Does that work for you?

[2020-12-01 20:35] jacobperron commented on #346
@nnmm Are you able to confirm if https://github.com/ros2/geometry2/pull/353 fixes the issue for you on Foxy?

[2020-12-02 11:43] esteve commented on #350
@clalancette excellent, thanks!

[2020-12-02 11:43] #350 closed, assigned to nobody

[2020-12-04 00:21] jacobperron commented on #346
Closing, assuming that https://github.com/ros2/geometry2/pull/353 fixed it. Please comment otherwise.

[2020-12-04 00:21] #346 closed, assigned to nobody

[2020-12-04 07:20] ldg810 opened #354 "Any plan for supporting sensor_msgs::msg::PointCloud2 transformation?"
Hi, i am trying to use tf2::doTransform for sensor_msgs::msg::PointCloud2(which is the ros2 version msg)

I found that there is no available function for transform sensor_msgs::msg::PointCloud2. (Am I right?)

Thus, is there any plan to support ros2 system? (I am using dashing and foxy)

Thank you.

[2020-12-04 13:26] clalancette commented on #354
There is one in tf2_sensor_msgs.h: https://github.com/ros2/geometry2/blob/ad35d72a51137cc9caebe474c3e2b8aa0de0fff4/tf2_sensor_msgs/include/tf2_sensor_msgs/tf2_sensor_msgs.h#L61 .

Is that what you are looking for?  If not, can you describe in more detail what you are looking to do?

[2020-12-07 11:25] nnmm commented on #346
@jacobperron Sorry for not replying in time – I attempted compiling the modified geometry2 code (in a docker container, which worked) and running the example from the bug report (which didn't work due to missing ros2 cli, and overlaying it onto a Foxy installation didn't work either). If it's still useful to you, I can try it out if you point me to some instructions.

[2020-12-07 19:46] jacobperron commented on #346
I was able to run your example in a docker containing (overlayed on Foxy). I had to uninstall the system version of geometry2 (which seemed to cause some Cmake collisions):

[code]

FWIW, it looks like it may have been #281 (not #274) that fixed this issue.

The example works successfully with the latest `foxy` branch, and I can get it to fail if I roll back to `0.13.6`.

[2020-12-08 15:29] nnmm commented on #346
Thank you, great @jacobperron!

[2020-12-09 15:47] esteve commented on #350
@clalancette I realized that the `eigen_conventions` functions are not available in the `foxy` branch, but in `ros2`. Is there any chance these functions will backported to `foxy`? I can open a PR with the relevant changes.

[2020-12-09 15:55] clalancette commented on #350
I don't see why not; it's a new package and all of the relevant things should be available in Foxy.  I see you've already opened a PR, so thanks!

[2020-12-10 01:29] ldg810 commented on #354
Thank you for reply! You are right. the doTransform for PointCloud2 was there.

I add tf2_sensor_msgs lib to CMakefile and include corresponding headerfile and succeed to use it.

[2020-12-10 01:29] #354 closed, assigned to nobody

[2020-12-14 15:28] teyssieuman opened #357 "Compare to none do not work with python 3.8"
https://github.com/ros2/geometry2/blob/1574a6e6034d5af01b318558bde7fdee3bd3c692/tf2_ros/src/tf2_ros/buffer.py#L61

Since python 3.8, the above line should be written

[code]

[2020-12-14 15:47] clalancette commented on #357
Really it should be:

[code]

Which is the preferred form nowadays, as I understand.  @teyssieuman would you mind opening a pull request with that change?

[2020-12-15 09:38] teyssieuman commented on #357
Works for me. The commit is updated.

[2020-12-15 13:01] clalancette commented on #357
Great.  Do you mind opening a pull request to the main repository here?  That way we can get this into Foxy (it is already fixed on master).

[2020-12-15 13:36] teyssieuman commented on #357
Do you think I should make the same pull request on the `ros2` branch ? or do I mistake ?
Maybe you want me to create a pull request from the `ros2` branch to the `foxy` branch ?

[2020-12-15 13:43] clalancette commented on #357
No, that particular fix is already on the `ros2` branch.  So no need to fix it there.

There is currently no pull request open against this repository for this problem.  So I'm suggesting that you open up a pull request from your fork to this repository, on the `foxy` branch.

[2020-12-15 14:01] teyssieuman commented on #357
Ok, what about this one :    https://github.com/teyssieuman/geometry2/pull/1

[2020-12-15 14:30] clalancette commented on #357
No, that is a pull request to your own repository.  You need to make one to this repository.

[2020-12-15 16:52] tgreier opened #358 "Every call to canTransform implementation throws Warning message print until transform is received."
Can this be updated so that it only prints the Warning after the complete timeout expiration?

https://github.com/ros2/geometry2/blob/1574a6e6034d5af01b318558bde7fdee3bd3c692/tf2_ros/src/buffer.cpp#L171

[2020-12-15 17:27] teyssieuman commented on #357
Ok, my mistake.

I still learn to use GitHub :innocent:

Foxy #359 shall be better

[2020-12-15 17:50] clalancette commented on #357
Yep!  That looks better.  Thanks.

[2020-12-15 19:53] clalancette commented on #358
Can you be more specific about which error message you are getting that you would like to be more quiet?  (I think I know which one, but I want to be sure)

Changing the error message to only be printed after the timeout expiration would be a change to the semantics of `lookupTransform`.  We can consider that, but we'd have to consider the implications of doing so.

If you really just want the pri

[2020-12-15 21:23] tgreier commented on #358
Thank you for the quick response!
It is this one:
[lift_tilt_node-24] Warning: Invalid frame ID "lift_pivot_base_left_link" passed to canTransform argument target_frame - frame does not exist
[lift_tilt_node-24]          at line 133 in /home/moog/Workspaces/ros2-foxy/core/src/ros2/geometry2/tf2/src/buffer_core.cpp

Would validateFrameId somehow need to be updated to throttle?
https://github.com/ro

[2020-12-16 21:53] clalancette commented on #358
Yeah, that's the kind of thing I'm thinking about.  However, thinking about it further, this could get a little complicated.  We want to throttle the printout so that it only prints for the same frame once a second (or whatever), but if a different frame fails to be validated, we want to print that right away.  So we would need to remember which frames we printed out before, but also make sure tha

[2020-12-24 12:05] TakaHoribe opened #361 "Cannot run the tf_listener without creating a transform_listener_impl node"
## Bug report

**Required Info:**

- Operating System:
Ubuntu20.04
- Installation type:
binaries
- Version or commit hash:
0.13.9
- DDS implementation:
Fast-RTPS
- Client library (if applicable):
rclcpp

#### Steps to reproduce issue

Brief: Is there any way or options to run the node without creating the transform_listener_impl node?

 - **The case of tf_listener_(tf_buffer_)**

When I launch a n

[2020-12-27 17:47] #357 closed, assigned to nobody

[2021-01-10 10:43] zhoulaifu opened #363 "On ros2:foxy, building geometry2 with "colcon build" failed"
Building geometry2 with "colcon build" produced the following error. Any idea why it happened?

FYI,  I am on a docker machine of ros2 foxy.

[code]

[2021-01-10 11:07] wasowski commented on #363
Are you sure you have run `rosdep install --from-paths src -y` ?

[2021-01-10 12:02] zhoulaifu commented on #363
Thanks Andrzej. I did not as I was unaware of it. But when I do what you said, I get some additional errors:

[code]

[2021-01-10 12:16] zhoulaifu commented on #363
I just solved this problem. It is due to my misuse. I should have used

`git checkout $ROS_DISTRO`

after cloning the repository.  But thank you anyway!

[2021-01-10 12:16] #363 closed, assigned to nobody

[2021-01-11 16:46] gleichdick commented on #242
For the records, the new PR for ROS1: ros/geometry2#491

[2021-01-13 09:17] zhoulaifu opened #365 "Unit tests for tf2_sensor_msgs.cpp not executed?"
It seems that the program `geometry2/tf2_sensor_msgs/test/test_tf2_sensor_msgs.cpp` is not executed when running  `colcon test --packages-select tf2_sensor_msgs`,  as discussed in this thread: https://answers.ros.org/question/369345/where-is-the-binary-of-test_tf2_sensor_msgs/, which refers to your CMakefLists https://github.com/ros2/geometry2/blob/99d87c508ba16743837910381775849110ffe52f/tf2_sens

[2021-01-13 13:20] clalancette commented on #365
That's right, we've never ported the tests from ROS 1 to ROS 2.  Any help in doing it would be appreciated!

[2021-01-13 13:25] #118 closed, assigned to nobody

[2021-01-13 13:31] zhoulaifu commented on #365
What would be the challenge to run or incorporate the tests?  I tried to run the generated binary in build/tf2_geometry_msgs/test_tf2_geometry_msgs manually, and the tests passed well. See the screenshot below.

![image](https://user-images.githubusercontent.com/38153765/104458496-c3579e80-55ab-11eb-8119-9f866a1e594a.png)

[2021-01-13 13:50] clalancette commented on #365
That's a different test in a different package.  The one you linked to above was `test_tf2_sensor_msgs_cpp` from the `tf2_sensor_msgs` package.  To enable the tests in `tf2_sensor_msgs`, you'd have to port `test_tf2_sensor_msgs.cpp` and `test_tf2_sensor_msgs.py` to ROS 2 (which both look straightforward), and then integrate them into the CMakeLists.txt.  There are some examples of doing similar th

[2021-01-14 05:28] Jconn opened #366 "Message Filter stuck dropping stale messages due to large queue size"
## Bug report

**Required Info:**

- Operating System:
Ubuntu 18.04
- Installation type:
Source
- Version or commit hash:
  -
- DDS implementation:
cyclone
- Client library (if applicable):
rclcpp

Very rarely, my system will enter an error state where all of my message filters start rejecting my messages.
My log output ends up looking like this until I manually kill my nodes:

[code]
I've confirm

[2021-01-14 09:50] zhoulaifu opened #367 "Got warnings when invoking test_buffer_server in tf2_ros"
I am running a test of tf2_ros, `geometry2/tf2_ros/test/test_buffer_server.cpp`, by invoking the corresponding binary directly, with the following command:

`~/ros2_ws/build/tf2_ros/test_buffer_server
`
The test passed but with some warnings. Did I misuse something?

[code]

[2021-01-14 13:29] clalancette commented on #367
No, those errors are intentional.  The tests are testing out various error modes of the code, and those are side-effects of this.  As long as the test is passing, this is fine.

[2021-01-14 13:29] #367 closed, assigned to nobody

[2021-01-14 19:51] zhoulaifu commented on #365
I uncommented some testing part in CMakeLists.txt in tf2_sensor_msgs and ran `colcon build`. The compilation passed well but the expected binnary `test_tf2_sensor_msgs_cpp` is not generated. Any idea what happened? Below is the modified CMakeLists.txt of the tf2_sensor_msgs package.

[code]

[2021-01-14 20:38] clalancette commented on #365
This whole section should be more like:

[code]

You may also need to add some additional `target_include_directories` for EIGEN; I'm not sure.  With something like that, it should be able to run under `colcon test`.

[2021-01-29 17:40] nnmm opened #370 "state_estimation_publisher does not work reliably in Foxy"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - Just the `ros:foxy` Docker image
- Version or commit hash:
  - tf2 libraries are at version 0.13.9
- DDS implementation:
  - I don't know, but it's the default one in that container
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

[code]

In the first panel:
[code]
In the other

[2021-01-29 18:54] jwang078 commented on #285
Leaving this here: I deactivated conda by doing `conda deactivate` until even (base) disappeared from terminal. Something with conda was messing with my ros and pykdl installation

[2021-01-30 02:36] clalancette commented on #370
If you add in `--qos-reliability=reliable --qos-durability=transient_local`, does that help?

[2021-01-30 10:55] nnmm commented on #370
@clalancette Yes, thanks a lot! Is that expected behavior then?

[2021-01-30 13:23] allenh1 commented on #194
I've removed myself from this because I don't have the time to do this before the galactic release. Anyone who feels led to should feel free to pick up this issue. Otherwise, I might have time in a while to revisit this.

[2021-01-30 13:27] allenh1 commented on #295
@clalancette I'll be starting on this in the next day or so. Sorry for the delays.

[2021-01-30 13:37] clalancette commented on #370
Yes and no.  The proper QoS for the `/tf_static` topic is indeed Transient Local/Reliable, so from that perspective the subscriber has to match.  However, it would be much nicer if `ros2 topic echo` could automatically figure that out.  I remember discussing this in an issue at some point, but I can't find it at the moment.  So my suggestion is to close this issue (as there isn't something particu

[2021-02-01 11:31] nnmm commented on #370
Okay, I opened one (well, actually two because I missed that QoS mismatch warnings are already implemented) here: https://github.com/ros2/ros2cli/issues/594

[2021-02-01 11:31] #370 closed, assigned to nobody

[2021-02-02 14:03] ksuszka opened #372 "PoseWithCovarianceStamped transform doesn't transform covariance part"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04, but it doesn't really matter
- Installation type:
  - source code analysis
- Version or commit hash:
  - a4f152f67d09b50d6d6450bb00c44512e52a880c
- DDS implementation:
  - N/A
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

[code]

#### Expected behavior
doTransform on PoseWithCovarianceStamped sh

[2021-02-02 14:25] clalancette commented on #372
Yep, agreed.  A pull request to port that functionality over from the ROS 1 version would be welcome.

[2021-02-04 01:33] tfoote commented on #358
At this level there is no sense of time for which to "timeout" the API is designed to be as low overhead as possible. The best solution I see for this is to pass in an error string pointer that will then be filled by the lower level functions. It sends out the warnings because otherwise the error will never be debuggable.

In the loop you can then choose to use the error string or to ignore the er

[2021-02-04 18:19] clalancette commented on #373
This issue belongs over at geometry2, so I'm going to move it over there.

[2021-02-04 18:21] clalancette commented on #373
As we discussed, it would be nice if the `tf2_echo` tool didn't print out this error at the beginning.  On the other hand, if there is no component in the system that *ever* publishes that particular transform, we should inform the user of that.

One way to improve on this is to wait longer in the `tf2_echo` program before printing an error.  That is, try to get the transform for X seconds at the

[2021-02-04 19:24] tfoote commented on #358
Related: https://github.com/ros/geometry2/issues/468

[2021-02-05 22:21] zhoulaifu opened #375 "Binary not found for some C++ programs in tf2 and test_tf2"
The following CPP programs in the tf2 package have a main function, but there seems to be no corresponding binary generated after building the whole geometry2 packages (with colcon build)

- static_cache_test.cpp
- speed_test.cpp
- simple_tf2_core.cpp
- cache_unittest.cpp

Of the same issue are these CPP files from the test_tf2 package:

- test_utils
- test_tf2_bullet
- test_message_filter
- test_

[2021-02-06 22:06] zhoulaifu opened #376 "Memory leaks in tf2_ros"
Running test_buffer_client (of the tf2_ros package) with the Address Sanitizer (https://en.wikipedia.org/wiki/AddressSanitizer) detected memory leaks in the package. Below is the error message.

Tested on ros:eloquent.

[code]

[2021-02-07 18:47] zhoulaifu commented on #376
The error seems to be in rclcpp. Also I should have used foxy instead.

[2021-02-07 18:47] #376 closed, assigned to nobody

[2021-02-08 13:58] zhoulaifu commented on #375
Some of the binaries now can be found in later versions.

[2021-02-08 13:58] #375 closed, assigned to nobody

[2021-02-08 14:04] zhoulaifu opened #377 "Foxy: The test test_message_filter of test_tf2 fails sometimes, but not always"
On ROS foxy, sometimes (not always) `test_tf2/test/test_message_filter` fails.

[code]
I used this command line of a ros:foxy docker machine:

`for i in {1..50};  do ./build/test_tf2/test_message_filter; done`

[2021-02-08 14:15] clalancette commented on #377
I'm not able to reproduce this on the latest, so there is probably something we need to backport to Foxy.

[2021-02-08 14:25] zhoulaifu commented on #377
Thanks Chris!

Just want to make sure: does "docker pull ros:rolling" give us the latest version of ROS?

And for geometry2, it is "ros2" tag that corresponds to your latest version?

[2021-02-08 14:39] clalancette commented on #377
The way that this works is that we do all of the development on the "master" or "ros2" branches of our repositories.  Periodically (every 2 - 4 weeks), we do releases of that code into Rolling.  So Rolling isn't always the latest, it will lag behind the source versions a bit.

Yes, for this repository, the "ros2" branch is the latest.

[2021-02-10 03:13] jacobperron commented on #373
I just took a look at this again. Looks like the issue was resolved in https://github.com/ros2/geometry2/pull/254 by adding a loop to wait for the requested transform to be ready.

[2021-02-10 03:13] #373 closed, assigned to nobody

[2021-02-16 17:40] karl-schulz opened #379 "Enabling tf2_geometry_msgs and tf2_sensor_msgs"
Transforming geometry and sensor messages in Python is currently not possible, as tf2_geometry_msgs is excluded from the build.

However, I was able to get it running fine, by installing PyKDM and using these files:
* https://github.com/ros2/geometry2/blob/foxy/tf2_sensor_msgs/src/tf2_sensor_msgs/tf2_sensor_msgs.py
* https://github.com/ros2/common_interfaces/blob/master/sensor_msgs_py/sensor_msgs_

[2021-02-16 17:42] clalancette commented on #379
See https://github.com/ros2/geometry2/pull/360 , where we are (slowly) trying to get this to work.

[2021-02-16 17:44] karl-schulz commented on #379
Oh, thanks - I was using the search but somehow didn't find this one. Thanks alot!

[2021-02-16 17:44] #379 closed, assigned to nobody

[2021-02-20 16:19] agutenkunst opened #382 "Provide euclidean distance using tf2_echo"
## Feature request

#### Feature description
tf2_echo could also provide information about the distance between the frames (starting with euclidean?)
Now and then I stumpled upon the need to see the euclidean distance between two frames.

Looking at https://answers.ros.org/question/61957/math-functions-for-geometry_msgs/ https://answers.ros.org/question/60658/calculate-difference-between-two-poses

[2021-02-23 21:16] tfoote commented on #382
I don't think that we should extend tf2_echo in this way. There's a lot of things like this that might be useful. However that functionality could also be written in a few lines of python.

This is a simple tool and starting to add alternative options to reduce or produce derivative data doesn't add value to the existing tool. This seems like a very specific need. To be more generic you'd really w

[2021-02-26 11:22] simutisernestas opened #384 "TF2 can't find existing frame inside a node"
Any chance [this](https://answers.ros.org/question/372843/ros2-tf2-cant-find-existing-frame-inside-a-node/) could be caused by tf2 issue?

[2021-02-26 13:24] clalancette commented on #384
Please don't cross-post from answers.ros.org to here unless you know it is a bug; that just splits where the answers are coming from.  I'm going to close this one for now.

[2021-02-26 13:24] #384 closed, assigned to nobody

[2021-02-26 19:42] #382 closed, assigned to nobody

[2021-03-03 22:56] clalancette opened #387 "Tutorials: Write a tf2 intermediate tutorial"
One of the very important pieces of ROS 2 is the TF2 library.  Understanding how TF2 works and how to use the library is a critical skill for ROS 2 users.

To this end, we should have a tutorial that discusses TF2 in some detail and how to use it.  We have the following rough outline for it so far:

* Needs a much more in depth concept overview before code tutorials start
* Tutorials
    * Introdu

[2021-03-06 17:40] Mineweeper opened #388 "Get an Error when import tf2_ros"
I'm a noob in ROS. When I tried to import import tf2_ros. It get error like below. But i do can import some other modules like tf2_msgs or tf2_kdl.
My Ubuntu version is 16.04 and Python version 2.7.12.  Could anyone help me handle this problem? Thanks.

  File "/opt/ros/kinetic/lib/python2.7/dist-packages/tf2_ros/__init__.py", line 39, in <module>
    from .buffer_interface import *
  File "/opt/r

[2021-03-06 17:45] #388 closed, assigned to nobody

[2021-03-09 19:14] jacobperron opened #389 "Node namespace is used for TransformListener topics in tf2_ros_py"
## Bug report

**Required Info:**

- Operating System:
  - All
- Installation type:
  - Any
- Version or commit hash:
  - latest
- DDS implementation:
  - N/A
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

Create a Python TransformListener and run it with a node namespace.

[code]

[code]

Then, check the topics:

[code]

#### Expected behavior

We expect the listener to

[2021-03-09 19:16] jacobperron commented on #389
Proposed fix: https://github.com/ros2/geometry2/pull/390

[2021-03-10 14:58] #389 closed, assigned to jacobperron

[2021-03-22 17:55] ros-discourse commented on #387
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/is-there-any-tutorials-for-tf2-with-ros2/19586/3

[2021-03-29 03:33] guru-florida commented on #358
I would be good with the simple case of switching it to a debug log.

The spamming of the log window is killing me! lol. ;) It fills my console buffer in seconds since a few nodes use this function. Sometimes it's because I am debugging a module that is delaying the TF publisher...and especially then I am trying to watch the log output for other stuff. I've found a work-around is to inverse-grep t

[2021-04-09 21:36] tgreier opened #396 "[Foxy] Every call to canTransform implementation throws Warning message print until transform is received"
Would like to update buffer_core.cpp fillOrWarnMessageForInvalidFrame() to use Debug level console output instead of Warn. This console statement fills the console log when system is launched every time through a loop of canTransform.

Backport of issue #358 to Foxy.

## Bug report

**Required Info:**

- Version or commit hash: Foxy

[2021-04-16 19:54] davidAmiron opened #398 "static_transform_publisher starts failing after many nodes"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04.2 LTS
- Installation type:
  - binaries
- Version or commit hash:
  - ros-foxy-desktop/focal,now 0.9.2-1focal.20210226.004308 amd64
- DDS implementation:
  - default implementation
- Client library (if applicable):
  - rclpy

#### Steps to reproduce issue

1. Clone repo
[code]

2. Move into directory
[code]

3. Build
[code]

4

[2021-04-26 13:29] Aerones-git opened #402 "Getting Message Filter dropping message for reason Unknown on ROS2 and Rviz2"
* Ubuntu 20.04
* Default DDS implementation

Getting messages during Rviz2 run and of course UI is not updated:
[code]

My code is as follows:
[code]

[2021-04-28 03:58] mattforestyoung opened #405 "canTransform does not suppress warning when called with error_msg"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - ROS2 Foxy, installed in Docker container `osrf/ros:foxy-desktop` from [hub.docker.com](https://hub.docker.com/r/osrf/ros/)
- Version or commit hash:
  - As per latest version of `osrf/ros:foxy-desktop` from [hub.docker.com](https://hub.docker.com/r/osrf/ros/)

I'm trying to find a work-around for the i

[2021-04-29 08:53] PGotzmann opened #407 "tf2_echo does not work with --ros-args"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - binaries
- Version or commit hash:
  - 0.13.10
- DDS implementation:
  - CycloneDDS
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue
Run `tf2_echo` with an additional `ros-args` parameter e.g.:
[code]

#### Expected behavior
`ros-args` parameters such as remappings can be used w

[2021-04-29 13:04] clalancette commented on #407
Yep, agreed.  We'll put this on the TODO list, but if you have time to submit a pull request, that's the fastest way to get this in.  Thanks.

[2021-04-30 09:22] PGotzmann commented on #407
Thanks for the fast reply. I have created a PR with this small changes and also a backport to `foxy`.
Let me know if there is anything that needs changing.

[2021-04-30 13:02] clalancette commented on #407
Thanks!

[2021-05-03 15:00] #407 closed, assigned to nobody

[2021-05-03 15:11] PGotzmann commented on #407
@clalancette I would really love to see this backported to foxy, since that's the distribution I am currently using.
How do you like me to proceed with #409?

[2021-05-03 15:20] clalancette commented on #407
My suggestion is that we just close #409, and I can use the Mergify bot to request backports to both Galactic and Foxy.  We can't merge the Galactic change yet (we are still in freeze for it), but we can at least have it open and ready for patch release 1.

[2021-05-19 17:28] ros-discourse commented on #387
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/gsod-2021-ros2-tutorials-on-tf2-and-ros2-launch/20490/1

[2021-05-23 19:03] jacobperron opened #421 "Configure buffer cache time at runtime"
## Feature request

#### Feature description

We can configure the [cache time](https://github.com/ros2/geometry2/blob/cf612728c77f6c671e1534556f16b75cb352b53c/tf2/include/tf2/buffer_core.h#L99) when constructing the buffer object, however for applications that want to increase/decrease the cache time in third-party code, it would be nice to provide a canonical ROS interface for changing it.

####

[2021-05-24 18:54] clalancette commented on #421
Can you explain a little more of the rationale for changing the buffer cache time at runtime (vs at startup time)?  While we certainly can make it runtime configurable, I think there will be a lot of details that will make it hard to get correct.  So I'd like to see if there is something else we can do here.

[2021-05-24 18:57] jacobperron commented on #421
Perhaps _runtime_ in the title is a misnomer. I am proposing we make the cache time configurable at startup time (at the very least). I'm not actually sure if we want to make the cache time configurable during runtime, I just figured we should bring it up since if we expose a ROS parameter, we should make sure to handle someone trying to set it after startup.

[2021-06-01 14:42] kurshakuz commented on #387
Hello @clalancette!

I am currently working on this issue and porting tf2 tutorials and would like to know if you could suggest the best way to update the tutorials structure. I mentioned all details in the following issue: https://github.com/ros2/ros2_documentation/issues/1631

[2021-06-07 15:51] aprotyas commented on #372
On that note, `do_transform_pose_with_covariance_stamped` in `tf2_geometry_msgs.py` does not transform the covariance either. Same pattern.
https://github.com/ros2/geometry2/blob/6fa2001c026ff104b890663b52f2e3d518140146/tf2_geometry_msgs/src/tf2_geometry_msgs/tf2_geometry_msgs.py#L143

Since I'm working on this issue, should I fold above changes into the same PR? @clalancette

[2021-06-07 15:55] clalancette commented on #372
It's worthwhile to fix it both places, but I'll suggest two separate PRs, one for C++ and one for Python.

[2021-06-11 18:50] #372 closed, assigned to nobody

[2021-06-11 19:10] aprotyas opened #431 "Covariance is not transformed in `do_transform_pose_with_covariance_stamped`"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - From source
- Version or commit hash:
  - a4f152f67d09b50d6d6450bb00c44512e52a880c
- DDS implementation:
  - N/A
- Client library (if applicable):
  - `rclpy`

#### Steps to reproduce issue
[code]

#### Expected behavior
[`do_transform_pose_with_covariance_stamped`](https://github.com/ros2/geometry2/bl

[2021-06-22 09:17] MartiBolet opened #433 "Adding namespace to tf_listener and tf_broadcaster"
Hi all,

We are now facing some trouble when working with multiple robots. `/tf` and `/tf_static` are now absolute path without namespace. This makes the multi-robot tasks difficult. Is there any possibility to solve this? We are now remapping this when needed but not sure if this is the proper way. [`--ros-args -r /tf:=tf -r /tf_static:=tf_static`]

When creating a transform broadcaster or listen

[2021-06-23 13:54] clalancette commented on #433
As you already know, we have the generic remapping mechanism.  What you are doing right now is exactly right to remap the topics; pass `--ros-args -r /tf:=new_tf -r /tf_static:=new_tf_static`.  So since we have that mechanism, I'd really rather not add another mechanism that essentially duplicates the generic one.

Because of that, I'm going to close this one out.  If you are still having problems

[2021-06-23 13:54] #433 closed, assigned to nobody

[2021-06-30 08:19] BriceRenaudeau commented on #366
Hello, I may have a similar issue. [Ubuntu 20.04 - ROS Galactic - CycloneDDS - Geometry2 from release]
On normal conditions, the Nav2 `controller_server` node works fine using 20% CPU.
Then for no apparent reasons, we get the error message:

After that, the Message Filter is stuck dropping message and the CPU consumption of the node gets over 120%

The only way to recover is to deactivate and reac

[2021-07-07 16:47] charlielito opened #435 "tf2_py TransformException catches all other exceptions"
## Bug report

**Required Info:**

- Operating System:
  - Docker + Ubuntu 20.04
- Installation type:
  - From binaries
- Version or commit hash:
  - Foxy
- DDS implementation:
  - Fast-RTPS,
- Client library (if applicable):
  - rclpy

#### Steps to reproduce issue
It seems that `tf2_py.TransformException` can catch all others, since raising any exception and catching it with `tf2_py.TransformExc

[2021-07-07 17:04] clalancette commented on #435
Yes, this is the expected behavior.

The way this works is that there is a [TransformException](https://github.com/ros2/geometry2/blob/c36999b17cbf1e64a7937232133db79898bfa608/tf2/include/tf2/exceptions.h#L58) base class that is never directly thrown.  All of the actual exceptions are subclasses of that base class (e.g. [TimeoutException](https://github.com/ros2/geometry2/blob/c36999b17cbf1e64a793

[2021-07-07 17:04] #435 closed, assigned to nobody

[2021-07-07 17:12] charlielito opened #436 "Using tf2_ros.buffer_client.BufferClient with default arguments crashes"
## Bug report

**Required Info:**

- Operating System:
  - Docker + Ubuntu 20.04
- Installation type:
  - From binaries
- Version or commit hash:
  - Foxy
- DDS implementation:
  - Fast-RTPS,
- Client library (if applicable):
  - rclpy

#### Steps to reproduce issue
Creating a simple `BufferClient` with defaults, when using for example `can_transform` it crashes. Run the next simple Node, and also

[2021-07-07 17:20] charlielito commented on #435
@clalancette  thanks for fast response. I just asked because when using the `BufferClient`, it never raises the exceptions, so the user never knows what the error is, for example when the server times out or there is any other error, exactly when using the `can_transform` method

[2021-07-07 20:08] charlielito opened #438 "rclpy BufferClient lookup_transform not working, timeout"
## Bug report

**Required Info:**

- Operating System:
  - Docker + Ubuntu 20.04
- Installation type:
  - From binaries
- Version or commit hash:
  - Foxy
- DDS implementation:
  - Fast-RTPS,
- Client library (if applicable):
  - rclpy

#### Steps to reproduce issue
Calling `BufferClient.lookup_transform` always timeouts although if I call the buffer server via ros2 cli it works.

Create a node li

[2021-07-08 16:06] #436 closed, assigned to nobody

[2021-07-09 19:19] charlielito commented on #438
I am also having the same issue in `rclpp`, when using this inside a callback the `BufferClient.lookupTransform` timeouts.
@clalancette  I see there are some tests for this but not for testing it inside a callback function.

[2021-07-12 16:13] dorezyuk opened #439 "Testing the water for possible improvements"
Hey,

I've noticed that we have a lot of spinning and busy waiting in this lib. I did a "prove of concept" project [fast_tf](https://github.com/dorezyuk/fast_tf) (forgive me the cringy name) to see how these short comings might be addressed.

I've implemented the lib as follows:
* Check first if the source and target frames are connected.
* If they aren't connected, a condition-variable will block

[2021-07-13 04:06] tfoote commented on #439
I'm not sure where you meant to file this. This ticket is on ROS 2 but your talking about things that are already in this implementation.  Overall improvements to the ROS 2 version are definitely of interest. The ROS 1 versions are already released into their last distros so we won't want to significantly change things there.

The only place I'm aware of looping is when you've called the API to wa

[2021-07-13 08:01] dorezyuk commented on #439
Ouch, wrong geometry.
I wanted to test the water for [ros/geometry2](https://github.com/ros/geometry2)...

I think there is (still) a huge community of ROS1 users. Given how central the geometry2 lib is for the ROS eco-system, I also think it still makes sense to put work into it. Would there be a way how we might incorporate some improvements into the ROS1 lib?

In the ROS1 lib (and I think also

[2021-07-29 08:25] gezp opened #440 "Reduce TransformListener nodes"
hi, I'm working for [Summer Student Program of Navigation2 ](https://navigation.ros.org/2021summerOfCode/projects/spinners.html) :  reduce the number of nodes running in Nav2 ([tickets in Nav2](https://github.com/ros-planning/navigation2/issues/816)), due to Node is overhead in ROS2.

When i [reduce amcl_node nodes](https://github.com/ros-planning/navigation2/pull/2483), i notice that the construc

[2021-07-29 12:44] wilhem opened #441 "Where are the old "euler_to_quaternion" and "quaternion_to_euler" methods for Python?"
## Bug report

**Required Info:**

    Ubuntu 20.04
    ROS2 - Galactic
    Default DDS implementation

I tried to find tutorials to converts from euler to quaternions and back, but I can't find anything.
I look into the code and I couldn't find any method to convert. In ROS1 it is clear documented, but tf2 for python is lacking of tutorial, examples and documentation.
Does anybody had the same pr

[2021-07-29 15:21] mjcarroll commented on #441
In ROS1/`tf`, that was actually a "vendored" python file, as you can see here: https://github.com/ros/geometry/blob/noetic-devel/tf/src/tf/transformations.py

A reasonable alternative would be to either use the version from `PyPI`: https://pypi.org/project/transformations/

Note from the author, though:

[2021-07-29 15:21] #441 closed, assigned to nobody

[2021-07-30 01:33] SteveMacenski commented on #440
Our goal is to make each server in Nav2 only have a single ROS node and making best practices use of executors. TF creates a node in the Listener which we argue should not be there and instead use an input node + an executor as needed.

[2021-08-02 12:29] boyali opened #443 "canTransform target_frame - frame does not exist"
## Bug report

**Required Info:**

- Operating System:
  - <Ubuntu 20.04>
- Installation type:
  - < binaries >
- Version or commit hash:
  -
- DDS implementation:
  - < rmw_implementation used  rmw_cyclonedds_cpp>
- Client library (if applicable):
  - < rclcpp >

#### Steps to reproduce issue

[code]

#### Expected behavior
At time 0.0
- Translation: [1.000, 2.000, 3.000]
- Rotation: in Quaternio

[2021-08-02 12:54] clalancette commented on #443
This seems to work fine for me in Galactic.  Can you give some more information on exactly what versions of the ros2 packages you are using, as well as exact directions of what you did from the time of starting your terminal?

[2021-08-02 13:54] boyali commented on #443
Thank you very much for the prompt response. Here are the steps I followed.
Ubuntu Version:
Distributor ID:	Ubuntu
Description:	Ubuntu 20.04.2 LTS
Release:	20.04
Codename:	focal

I installed ros2-galactic and ros2-foxy using Ubuntu packages, I also tried in the built version of ros-galactic and received the same error.

Installation procedures:
ros2-foxy     :  sudo apt install ros-foxy-desktop
ro

[2021-08-02 14:16] boyali commented on #443
Solved:
I think this is related to the following setting which solved the problem.

If local_host_only setting is set to 0 it produces this error. Setting it to one removed the error.
export ROS_LOCALHOST_ONLY=1

Thank you very much.

[2021-08-06 19:33] Aposhian opened #444 "Feature: add quaternion to euler transformations"
#### Feature description
`tf` offered [transformations between quaternions and euler angles](https://github.com/ros/geometry/blob/d51887c976a45ba01db9c61361e94076d3bcf3f1/tf/src/tf/transformations.py#L1089). This would be very convenient to have in `tf2`, especially for making comparisons between quaternions for tests.

[2021-08-06 23:11] tfoote commented on #444
This library is available in [tf_transformations](https://index.ros.org/p/tf_transformations/) package.

[2021-08-06 23:11] #444 closed, assigned to nobody

[2021-08-11 08:16] doisyg commented on #366
Same for us (same system as @BriceRenaudeau) , it happens very rarely, once a week on a constantly running system.

@Jconn Did you manage to find the cause ? What layers/plugin were you running on the controller_server when it happened ?

I wonder if the issue comes from the controller_server (https://github.com/ros-planning/navigation2/issues/2333 ) or tf

[2021-08-11 12:15] Jconn commented on #366
We never solved this. This stuck state seemed to happen to us more often when our cpu load was higher e.g. We would hit this case more often with rviz running.

[2021-08-11 12:24] doisyg commented on #366
All right, I managed to reproduce it more consistently and more frequently. I will report here

[2021-08-12 20:53] karl-schulz opened #445 "Provide a LookupTransform service"
We are having performance issues maintaining separate `TransformBuffer`s in every node we spin and want to switch to `tf2_ros_py.BufferClient`s with a central buffer running in the background instead.

#### Example use case:

We have a node checking if the robot "teleported" due to localization errors every 5 seconds. Using a separate Buffer + Listener, this node has to process *every* `/tf` messa

[2021-08-12 21:21] karl-schulz commented on #438
I have the same problem - I think this feature is actually not ready to be used?

[2021-08-12 21:59] clalancette commented on #438
For better or worse, that is by design.  The problem with doing this is that you are blocking the executor, but the executor needs to run in order to get the transform.

The solution here is to make sure to never run blocking functions like `lookupTransform` from within a callback, or you use the MultiThreadedExecutor, or you instantiate the `TransformListener` with `spin_thread = True`.

[2021-08-12 23:15] karl-schulz commented on #438
Thanks! That makes sense, however is the usage of a separate thread in the `BufferClient` necessary in that case? We could use event.wait with a timeout instead of starting a new thread to check for a timeout, right?
https://docs.python.org/3/library/threading.html#threading.Event.wait

[2021-08-13 13:13] clalancette commented on #445
Yes, there is a reason.  If we use an `event.wait` with a timeout, that will always use a system clock.  In the case of running on real hardware, this isn't a problem; the rest of the system is using a system clock as well, so it all lines up.  However, in the case of simulation, you really want to be synchronized to the simulation time, not real time.  Hence we really want to compute our own time

[2021-08-17 14:30] karl-schulz commented on #445
Thanks for the answer!

Ok, makes sense. Then we maybe we can put this reason in a comment next to the location, so anyone wondering knows why this is the case. Also, I don't know the exact overhead of spawning a new thread on every call, but maybe it makes sense to use a permanent thread for this task and just re-trigger it?

I created a very simple `GetTransform` service for our internal usage,

[2021-08-17 18:01] SteveMacenski opened #446 "Potential TF2 Buffer Timer Interface / Message Filters Design Issue"
**Required Info:**

- Operating System: Linux
  -
- Installation type: Binaries
  -
- Version or commit hash: All in Foxy and newer
  -
- DDS implementation: N/A
  -
- Client library (if applicable): rclcpp
  -

#### Description

We're running into a bit of an issue in https://github.com/ros-planning/navigation2/pull/2483 with @gezp. The TF2 buffer needs a timer interface in order to create timers

[2021-08-18 12:04] doisyg commented on #366
Solved for obstacle_layer and STVL by using a timeout on the message filter, see here: https://github.com/ros-planning/navigation2/issues/2333
However I still believe there is a bug in message filter or a major performance bottleneck arising from the moment there is an extrapolation error.
I believe this causes a similar issue in rviz

[2021-08-19 13:23] AndreaFinazzi commented on #402
I'm experiencing the same, running on:
- Ubuntu 20.04 (docker)
- Foxy
- CycloneDDS

[2021-08-20 10:50] charlielito commented on #438
`BufferClient` doesn't have any `TransformListener`. Also using `MultiThreadedExecutor` does not work, you have to pass a `ReentrantCallbackGroup` to the client inside the `BufferClient` class -which currently is not exposed- as already mentioned in the issue.

[2021-08-26 18:33] chapulina commented on #377
I just noticed that this is happening on our nightly Foxy CI too, it failed 5/25 latest builds:

https://build.ros2.org/job/Fci__nightly-connext_ubuntu_focal_amd64/lastSuccessfulBuild/testReport/test_tf2/MessageFilter/concurrentTransforms/history/

But it passes consistently on Galactic:

https://build.ros2.org/job/Gci__nightly-connext_ubuntu_focal_amd64/lastSuccessfulBuild/testReport/test_tf2/Mes

[2021-08-29 14:37] dzywater opened #450 "On windows, NO_ERROR in tf2/exceptions.h conflicts with NO_ERROR in winerror.h"

[2021-08-30 21:18] clalancette commented on #450
This one is tricky.  I have a pull request open that works towards solving it here: https://github.com/ros2/geometry2/pull/349 .  There are two caveats with it:

1.  There still some bug on Windows that makes it not so happy.
2. Even with that PR applied, there is still going to be a conflict on Windows.

Number 2 is unavoidable; since we really want a deprecation cycle for it, we just have to bit

[2021-09-01 02:23] jacobperron commented on #445
+1

[2021-09-01 13:06] oss-vineet opened #451 "Deperecation Warning in examples_tf2_py when running 'colcon test'"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - Source install, cloning from the branch 'foxy'

- Version or commit hash:
  -
- DDS implementation:
  -
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue
Not a bug per se, but when running `colcon test` inside my workspace, I get the following DeprecationWarning:

[code]

#### Ex

[2021-09-01 13:10] clalancette commented on #451
As far as I can tell, there is nothing we can do about this.  This is coming from the Ubuntu 20.04 version of pydocstyle.  Presumably this will be fixed when we move to 22.04 for Humble.

Since there is no action we can take here, I'm going to close this out.

[2021-09-01 13:10] #451 closed, assigned to nobody

[2021-09-02 10:00] tfoote commented on #445
Adding the service in parallel with the action seems reasonable. The feedback isn't super important for this use case. The transform method should be attached to the BufferInterface not the buffer itself so you can make a service equivalent of the client just like there's an action client.

With respect to the crossover, if we make the change of the client to use the service instead of the action.

[2021-09-03 05:47] adamkrawczyk commented on #337
Hi,

I'm doing this and create PR but wondering whether adding PoseWithCovariance without timestamp makes sense?

Best

[2021-09-03 06:15] aprotyas commented on #337
You don't necessarily need headers for all types of applications. For example, I can think of a planar path planner that would not care much about the timestamp/reference frame of goal queries expressed as `PoseWithCovariance`s.

[2021-09-03 07:51] adamkrawczyk commented on #337
Made changes at:
https://github.com/ros2/geometry2/pull/452

Please take a look and share your thoughts

[2021-09-04 15:02] oss-vineet commented on #431
Hi guys!
I am relatively new to ROS and wanted to try and contribute. I can see that this change has been made for the C++ API so I wanted to try and help for the Python API as well as it seems to not have been done.

I wrote up the following code below. It's nothing but a copy paste of [#430](https://github.com/ros2/geometry2/pull/430) but I translated the relevant parts to Python code. I couldn'

[2021-09-04 18:47] aprotyas commented on #431
Welcome! Thanks for the write up. What you have looks mostly fine - and is the path that I would've taken to fix this issue too.

However, I believe I didn't pursue this issue earlier because the Python API actually does not get installed (see snippet from CMakeLists.txt file), since there are some pending TODOs for #110 (specifically https://github.com/ros2/geometry2/pull/90#issuecomment-47406036

[2021-09-05 01:41] oss-vineet commented on #431
Thanks for the feedback! I have the PR ready, I need to confirm the tests. I will try and submit a PR before the day's end

[2021-09-05 19:06] clalancette commented on #431
Unfortunately not.  We still need to finish https://github.com/ros2/orocos_kinematics_dynamics/pull/19 before we can re-enable Python for this package.

[2021-09-17 16:03] padhupradheep commented on #443
Sorry for hijacking the issue, but felt that the [question](https://answers.ros.org/question/386764/ros2-buffercantransform-always-returns-false/) I raised in ROS-Answers, is similar to this issue posted here!

[2021-09-18 05:38] aprotyas commented on #450
#456 also introduces a workaround for Foxy (which can be cherry-picked to Galactic).

[2021-09-19 09:12] kurshakuz commented on #94
I believe that issue was fixed in https://github.com/ros2/geometry2/pull/108

[2021-09-19 09:15] kurshakuz commented on #95
Are there any updates on that?

[2021-09-20 09:51] padhupradheep commented on #438
Is there any update on the issue? I'm also facing the same issue, but it is with rclcpp!

[2021-09-20 11:08] padhupradheep opened #457 "LookupTransform() is not able to find the transformation"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - binaries
- Version or commit hash:
  - Galactic
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  -

#### Steps to reproduce issue
Run the below code on a standard wheel robot

[code]

#### Expected behavior
To receive the transformations between 2 frames

#### Actual behavior
`Co

[2021-09-20 15:32] padhupradheep commented on #457
I personally made a mistake by not having a transform listener!

[2021-09-20 15:32] #457 closed, assigned to nobody

[2021-09-24 08:34] aprotyas commented on #450
This can probably be closed now since #349, #456, #458 have all been merged.

[2021-09-24 08:34] #443 closed, assigned to nobody

[2021-09-24 12:56] clalancette commented on #450
Good call, I'll close this out.

[2021-09-24 12:56] #450 closed, assigned to clalancette

[2021-09-24 14:34] clalancette commented on #95
Unfortunately not; this is still a backlog/help wanted item.  We'd be happy to review contributions that improve it, though.

[2021-09-24 15:04] clalancette commented on #97
This was actually fixed a while back, so closing this.

[2021-09-24 15:04] #97 closed, assigned to mjcarroll

[2021-09-24 15:08] clalancette commented on #387
I'm actually going to close this issue, in favor of https://github.com/ros2/ros2_documentation/issues/1631

[2021-09-24 15:08] #387 closed, assigned to nobody

[2021-09-28 08:00] BriceRenaudeau opened #460 "TF2 Buffer crash due to timer not destructed"
## Bug report

- Operating System:
  - Ubuntu 20.04
- ROS2 Version:
  - Galactic
- Version or commit hash:
  - from source: galactic branch

#### Steps to reproduce the issue
Create a costmap_2D with some plugins.
Then repeatedly configure - activate - deactivate - cleanup.

[code]

#### Expected behavior

The costmap is repeatedly activated and deactivated without a crash.

#### Actual behavior

[2021-09-28 10:41] kurshakuz opened #461 "tf2 package documentation and Architecture explanation"
As it was mentioned in the https://github.com/ros2/ros2_documentation/issues/1631#issuecomment-853285622 comment, one of the long-term goals on tf2 tutorials is to move them here and host on a per package based documentation.

I understand we can't do that right, but I suggest to create a /doc folder in /tf2 to host `Architecture.rst` and `index.rst` documentation files in a similar manner to `lau

[2021-09-28 12:45] clalancette commented on #460
Yep, this is definitely a bug, and is also most likely the reason for https://github.com/ros2/rviz/issues/703 .  I've attempted a few fixes of this, but I have not yet been able to get something that fixes it completely.  I'm still trying.

[2021-09-28 13:27] clalancette commented on #461
I guess I should ask; do we have an Architecture document written?  If so, where is it now?

[2021-09-28 14:23] kurshakuz commented on #461
I myself was searching for one, but was not able to find anything like that. I can write it, but I guess will need some more information on the expected content and format

[2021-10-01 19:18] clalancette commented on #440
Now that we've merged #442, can we close this one?

[2021-10-01 19:31] SteveMacenski commented on #440
Indeed

[2021-10-01 19:44] clalancette commented on #440
Thanks, closing.

[2021-10-01 19:44] #440 closed, assigned to nobody

[2021-10-13 12:13] #295 closed, assigned to allenh1

[2021-10-14 08:50] galou commented on #337
Isn't it actually misleading to have `doTransform<geometry_msgs::msg::PoseStamped>` because two `PoseStamped` that have the same coordinates but different frames, i.e. that are supposed to express two different poses, are transformed into the same `PoseStamped`. Generally, the poses' frame is ignored completely. Removing `doTransform<geometry_msgs::msg::PoseStamped>` would break the API though.

[2021-10-14 17:45] aprotyas commented on #337
@galou wouldn't that be valid behavior though? As in, if you're performing a transformation, you're expressing the geometric data (pose) in a different frame, so the frame ID of the stamped pose should be updated accordingly?

[2021-10-15 06:09] galou commented on #337
@aprotyas I agree that the resulting `frame_id` should be the same for both `PoseStamped` but the coordinates should vary. The current implementation of `doTransform<geometry_msgs::msg::PoseStamped` completely ignores `t_in.header.frame_id`.

[2021-10-15 06:29] aprotyas commented on #337
@galou I might be misunderstanding the math here, but I'm thinking that if you do a transformation on a stamped pose, then the output of that transformation should be in the same frame as the transformation (and not the input pose), which is [what's happening](https://github.com/ros2/geometry2/blob/83fbeb70b61d83a410e184266f150b9a0215c9a9/tf2_geometry_msgs/include/tf2_geometry_msgs/tf2_geometry_ms

[2021-10-21 08:45] Marina-Banov commented on #110
Can this be ported now?

[2021-10-21 12:23] clalancette commented on #110
Unfortunately this is blocked on https://github.com/ros2/orocos_kinematics_dynamics/pull/19

[2021-10-21 12:39] AlexeyMerzlyakov opened #470 "tf2_echo reverse output"
Hi,

I've found that `tf2_echo` command gives reversed from the `lookupTrasfrom()` transformation, if using the given in help message signature:
[code]

In the example I am using:
[code]
there is the following output:
[code]
while calling the `tf2_echo` from console gives:
[code]

This looks like this appears because of following line in `tf2_echo.cpp`:
[code]

According to latest autodoc pages (h

[2021-10-22 17:08] YoushaaMurhij commented on #379
Any updates on `tf2_geometry_msgs `?

[2021-10-22 17:10] YoushaaMurhij opened #471 "ModuleNotFoundError: No module named 'tf2_sensor_msgs'"
Is there any plan to include `tf2_sensor_msgs`?

[2021-10-22 17:26] clalancette commented on #471
Eventually, yes.  But it is blocked by https://github.com/ros2/orocos_kinematics_dynamics/pull/19

[2021-10-22 17:26] clalancette commented on #379
#360 is still in progress

[2021-10-25 15:07] clalancette commented on #470
Yeah, I have to agree with you that this looks backwards.  But it has been like this for a *long* time (since at least https://github.com/ros2/geometry2/commit/591eb428364296fad71391bc6f117cdfc116e2bf), and it is consistent between the calls to [canTransform](https://github.com/ros2/geometry2/blob/16562cee8694c11f1f82b2bdbde2814fca1c7954/tf2_ros/src/tf2_echo.cpp#L120-L121) and [lookupTransform](ht

[2021-10-25 18:24] aprotyas commented on #470
I had a confusion about the ordering of the arguments to `lookupTransform` as well, and this explanation may/may not be helpful:
https://github.com/ros2/geometry2/pull/452#issuecomment-914064884

[2021-10-28 14:55] AlexeyMerzlyakov commented on #470
@clalancette, @aprotyas, thank you for the explanation! That indeed was my confusion: I initially thought that `tf2_echo` should return transformation (matrix) from source_frame -> to target_frame, while it is vice versa (it is actually coordinate of `target_frame's origin` in `source's_frame`). The comment from above helped me to get the understanding of what does it mean. Moreover, there is a no

[2021-10-28 14:55] #470 closed, assigned to nobody

[2021-10-29 09:24] sw233421 commented on #285
thanks

[2021-11-02 19:08] tfoote commented on #470
Correct, this is one more duplicate of https://github.com/ros/geometry/issues/108 Thanks for the comprehensive diagram.

[2021-11-16 01:05] jacobperron opened #477 "Create a callback group to spin on in Python TransformListener"
## Feature request

#### Feature description

Same as #442, but applied to the [Python implementation](https://github.com/ros2/geometry2/blob/16562cee8694c11f1f82b2bdbde2814fca1c7954/tf2_ros_py/tf2_ros/transform_listener.py#L44).

This will make the behavior consistent between languages.

#### Implementation considerations

It would be nice to emit a warning if the user is relying on the old behav

[2021-11-16 01:19] gezp commented on #477
is anyone working for this? if not, i would like to continue this work for python implementation.

[2021-11-16 01:25] jacobperron commented on #477
I just took a brief look, but it doesn't look like the `rclpy` executor API supports callback groups (please correct me if I'm mistaken). I've opened a ticket upstream https://github.com/ros2/rclpy/issues/850.

[2021-11-16 01:38] gezp commented on #477
sorry, i didn't notice that rclpy API is some different of rlcpp before. you are right, we need some features from `rlcpy` .

[2021-11-22 08:19] aaronchongth commented on #460
Hello @BriceRenaudeau! Thanks for bringing this up. I am currently helping to look into this too, but can't seem to recreate the problem reliably other than repeatedly toggling a costmap in rviz2 randomly.  Could you provide a sample of how you're recreating it?

[2021-11-22 08:54] BriceRenaudeau commented on #460
Hi, I cannot give you the full code, but I can provide you with the critical parts.
My goal was to change several parameters of the costmap dynamically.
But the dynamic parameter wasn't working yet.

So I create a node with the costmap and a`ParameterEventHandler`

[code]

Then in the ParamEventHandler I catch the config and restart the costmap.

[code]
Hence every time you change a parameter it w

[2021-12-07 06:11] aaronchongth commented on #460
Hello @BriceRenaudeau! I just created a PR targeting `ros2` which I believe can fix the issue. Unfortunately I have still been unable to reliable test it using downstream packages, but I did include a test which I believe replicates the issue.

I have [this branch](https://github.com/aaronchongth/geometry2/tree/aaron/buffer-shared-data-galactic) applying the same fix to `galactic`. Could you try i

[2021-12-07 11:19] hortenbach opened #482 "tf2_tools view_frames.py produces no pdf and prints result to command line instead"
## Bug report

**Required Info:**

- Operating System:
Ubuntu 20.04.3
- Installation type:
source
- Version or commit hash:
foxy
- DDS implementation:

- Client library (if applicable):
tf2_tools

#### Steps to reproduce issue
I am following the Introduction to tf2 tutorial https://docs.ros.org/en/foxy/Tutorials/Tf2/Introduction-To-Tf2.html
And when I run the command from the "1 Using view_frames"

[2021-12-07 11:45] aprotyas commented on #482
I can replicate this issue in ROS 2 Foxy Linux Binaries, and can also confirm that things work fine in ROS 2 Galactic Linux Binaries.

Looks like there's a big diff between the Galactic and Foxy branches for the `tf2_tools` package, but I believe https://github.com/ros2/geometry2/pull/313 needs to be backported to fix the issue.

Also, this issue should probably be transferred to `ros2/geometry2`

[2021-12-07 20:17] aprotyas commented on #482
In Foxy, `tf2_tools` does not have a runtime dependency on `graphviz`. So, if for some reason `graphviz` did not get installed in the system - because, say, this tutorial was the very first thing someone did - then this `dot` invocation (tool comes with `graphviz`) dies silently: https://github.com/ros2/geometry2/blob/babb5f982a17708e56bbd8236f4dc5ef5f98b47d/tf2_tools/scripts/view_frames.py#L78

A

[2021-12-08 08:45] BriceRenaudeau commented on #460
@aaronchongth, many thanks for the PR.
Unfortunately, we advanced to another topic keeping the delay as a fix.
I will keep it in mind but I may not be able to try It soon.

[2021-12-08 20:20] aprotyas commented on #482
Thank you for the report @hortenbach! I'm closing this issue since #483 has been merged.

[2021-12-08 20:20] #482 closed, assigned to nobody

[2021-12-16 07:16] KenYN opened #487 "static_transform_publisher with transient_local doesn't work"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - Galactic
- Version or commit hash:
  - Latest from apt-get
- DDS implementation:
  - CycloneDDS
- Client library (if applicable):
  - tf2_ros

#### Steps to reproduce issue
First, this is similar to #183, but the suggested resolution doesn't seem to work, as seen here; try the following two commands:

[2021-12-16 13:06] clalancette commented on #487
You also need to add `--qos-reliability reliable` in Galactic.  On Rolling, that is no longer needed.  Does that work for you?

[2021-12-17 00:23] KenYN commented on #487
Thanks, that fixed it!

[2021-12-17 00:23] #487 closed, assigned to nobody

[2021-12-21 18:45] msmcconnell commented on #372
@clalancette Is there any chance the fix for this in #430 gets backported to Foxy?

[2021-12-21 18:52] clalancette commented on #372
I think that is viable; it doesn't change API or ABI.  Mind opening a backport PR?

[2021-12-21 18:55] aprotyas commented on #431
I think this issue is actually solved since #453 was merged? If so, feel free to close it please!

[2021-12-21 19:38] aprotyas commented on #372
I've opened #488 and #489 through mergify.

[2021-12-21 20:20] msmcconnell commented on #372
Thanks for putting those up @aprotyas ! Hope they can make it in soon.

[2021-12-23 04:04] aprotyas commented on #372
FYI: both backports have landed.

[2021-12-27 22:50] msmcconnell commented on #372
@aprotyas Awesome thanks for doing that!

[2022-01-20 08:44] NikolasE opened #500 "tf2_buffer_server aborts goal without setting error if timeout is set in goal"
Galactic from Packages

I wrote an action client for the tf2_buffer_server and tested it with invalid frames while setting the timeout in the goal. I did not check the goal-status, but only the error flag in the result. This works if I don't set the timeout, because the result.error.error is set to LOOKUP_ERROR https://github.com/ros2/geometry2/blob/74b873a497f405f4296bb1c5de4023ff45eb9007/tf2_ros

[2022-01-26 09:59] TuMePJlaH opened #501 "tf2_ros::Buffer::canTransform sends many warnings if frame does not exist"
When I call the tf2_ros::Buffer::canTransform function with a non-zero duration, I can't disable the warning even though I set the errstr argument.

In this line, tf2::BufferCore::canTransform is called without the errstr argument, and the warning is not disabled:
https://github.com/ros2/geometry2/blob/74b873a497f405f4296bb1c5de4023ff45eb9007/tf2_ros/src/buffer.cpp#L149

[2022-02-03 19:28] clalancette commented on #431
I'm going to close this out per the last comment.  Thanks for the PR.

[2022-02-03 19:28] #431 closed, assigned to nobody

[2022-02-03 20:49] Blast545 opened #503 ":man_farmer: `tf2_ros_py` `test_buffer_client.py` flaky segfaults on `release` and `fastrtps` nightlies"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - Buildfarm, source
- Version or commit hash:
  - https://gist.github.com/Blast545/eb4b7b16ddf5e069df52de1b900f15dc
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclpy

#### Steps to reproduce issue
Run a nightly linux release or fastrtps job. `Patient zero` cases can be seen

[2022-02-03 20:57] Blast545 commented on #503
Trying to reproduce the error on `ci.ros2.org`, ci_linux release up to `tf2_ros_py`

[![Build Status](https://ci.ros2.org/job/ci_linux/16066/badge/icon)](https://ci.ros2.org/job/ci_linux/16066/)

[2022-02-04 15:42] Blast545 commented on #503
Another instance: https://build.ros2.org/view/Rci/job/Rci__nightly-debug_ubuntu_focal_amd64/588/

[2022-02-05 19:29] apockill commented on #389
Oh man, I just spent two days debugging this.

I'm relatively new to ROS, and I was curious- how do people typically get access to upstream fixes? For example, I'm on `foxy` currently. Would I need to wait for the next ROS2 LTS release to benefit from these changes?

[2022-02-07 22:07] clalancette commented on #389
In short: it depends.  Primary development on ROS 2 happens on the Rolling branches, which feed into the next release.  So all of the fixes are guaranteed to be in the newest release, but of course there is a year gap between releases.  Since this release went in in March 2021, that means the fix is available in Galactic and Rolling (and will of course be available in Humble when we branch off for

[2022-02-08 17:11] apockill commented on #389
Thank you for the response! I understand not wanting to break the API/ABI compatibility for already released distributions- especially for this fix.

For anyone else coming to this thread looking for a workaround, I simply remapped `/namespace/tf_static` to `/tf_static` and did the same for `/tf`.

[2022-02-21 17:04] Blast545 commented on #503
New instance here:
https://build.ros2.org/view/Rci/job/Rci__nightly-debug_ubuntu_focal_amd64/606/

It seems this PR may have fixed it from the https://build.ros2.org/view/Rci/job/Rci__nightly-release_ubuntu_focal_amd64/ jobs, as it hasn't appeared anymore. However, it seems this issue it's still not resolved. I'll add the flaky keyword to the title for the time being.

[2022-02-22 17:23] Blast545 commented on #503
It happened here as well: https://ci.ros2.org/view/nightly/job/nightly_linux_release/2199/

[2022-02-22 17:54] clalancette commented on #503
I've been attempting to track this down a bit.  I'm able to reproduce locally by building up to `tf2_ros_py` and then running the tests:

[code]

(it doesn't happen every time, but maybe one out of every 6 or 7 runs for me).  I then rebuilt `rmw_fastrtps_shared_cpp` with debug symbols:

[code]

With that I was able to collect a coredump, and the stack trace looks like this:

[code]

(I removed the

[2022-02-23 22:23] clalancette commented on #503
All right, I did some additional debugging here and enabled ASan.  This looks like it may be a bug in `rclpy`, though I'm not 100% certain yet.

Looking at https://github.com/ros2/rclpy/blob/master/rclpy/src/rclpy/wait_set.cpp , it is clear that we create an `rcl_wait_set`, populate it, and then call `rcl_wait` on it with no locking.  Further, in https://github.com/ros2/rclpy/blob/master/rclpy/src

[2022-03-04 14:33] Flova commented on #471
Same with `tf2_geometry_msgs`.

[2022-03-10 14:28] clalancette commented on #503
I do believe that this was fixed by ros2/rclpy#904, so closing this out.  Feel free to reopen if I'm wrong.

[2022-03-10 14:28] #503 closed, assigned to nobody

[2022-03-15 14:33] Flova commented on #285
See PR #509 for a solution

[2022-03-18 16:08] ozangungor12 commented on #471
Sorry for the basic question, but I find it quite challenging to understand what is ported and what is not from ROS1 to ROS2.
Since I already see the `tf2_geometry_msgs` in this repo, I thought it was already available.
Also `sudo apt-get install ros-foxy-tf2-geometry-msgs` says that the package is already the newest version.
What is the easy way of understanding if a package in a repo is already

[2022-03-18 19:26] Flova commented on #471
The python part of the `tf2_geometry_msgs` was excluded by deleting its part from the `CMakeLists.txt` file, which disables the build of this part of the package. It is not very obvious that this part of the code is not being build. I agree with you. The code is already ported by deactivated due to an upstream dependency issue. This should be resolved by dropping the dependency as proposed in this

[2022-04-07 17:46] BriceRenaudeau commented on #460
Hi,
Did #490 fix this issue?

[2022-04-07 17:49] clalancette commented on #460
I believe it did, but confirmation would be much appreciated.

[2022-04-11 15:55] BriceRenaudeau commented on #460
Is it possible to have it backported on galactic?

[2022-04-11 16:06] clalancette commented on #460
As it was put into Rolling, unfortunately not.  That fix was a change to the API and ABI of tf2 and rviz, which isn't allowed in released distributions.  There may be a way to backport it while preserving API and ABI, but that would take a bunch of time.  If you are interested in attempting a backport, I can give you some pointers on what you would need to change to keep it API and ABI compatible.

[2022-04-14 12:47] zygfrydw opened #517 "TransformListener hangs in destructor when using dedicated thread"
## Bug report

**Required Info:**

- Operating System:
  - all systems, detected on Docker + Ubuntu 20.04
- Installation type:
  - from binaries
- Version or commit hash:
  - galactic
- DDS implementation:
  - cyclone dds
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue
I have noticed timeouts in my unit tests for node using TransformListener because o TransformListener han

[2022-04-14 13:28] zygfrydw commented on #517
I have fixed this problem in this [pull request](https://github.com/ros2/geometry2/pull/518).

[2022-04-19 13:11] Kaju-Bubanja opened #519 "Can't build tf2_geometry_msgs: "fatal error: kdl/frames.hpp: No such file or directory""
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - master(from source)
- Version or commit hash:
  - ef2dd147a25f14ed946c86f5a9fc03c8995d8fbe
- DDS implementation:
  - rmw_fastrtps_cpp
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue
Trying to build tf2_geometry_msgs leads to following error
[code]

#### Expected behavior
No com

[2022-04-19 13:16] clalancette commented on #519
It looks like you are probably missing `orocos_kdl_vendor` from your installation, which `tf2_geometry_msgs` requires.  I would suggest doing the following in the root of your workspace:

[code]

And then run your compile again.

[2022-04-19 13:49] Kaju-Bubanja commented on #519
That didn't really fix it, I didn't have the package, then I cloned it and built it all without problems, but I still get the same error when building tf2_geometry_msgs, I tried to source the workspace to be save but that didn't help either. Also I feel like the workflow with sourcing after building changed. Because now I get a bunch of overlay warnings, they were never a problem and the topic see

[2022-04-19 13:51] Kaju-Bubanja commented on #519
What seems odd to me is that in the package.xml it says `<depend>orocos_kdl_vendor</depend>` but in the CMakeLists.txt it says `find_package(orocos_kdl REQUIRED)` usually these two names are the same. Is that deliberate here?

[2022-04-19 13:52] clalancette commented on #519
Yes, that's the way it is supposed to be here.

I'll suggest completely cleaning the workspace (remove the `build`, `install`, and `log` directories), and then try building again.